[2016-06-01 09:36] mrmachine commented on #266
Here's the log:

[code]

Is there a command I can paste into the ST3 console to verify the connection is established and that it's actually working, besides just trying Go to object definition?

[2016-06-01 09:51] DamnWidget commented on #266
Ok, answering your first question, you can use "Anaconda: Show Documentation" or you can just write whatever invalid random string that makes a syntax error and see if it gets linted, you can also just try to trigger the autocompletion in a standard lib module like `os`, if any of that is success, then you are on the road and ready to rock.

About the paths. Anaconda always had the concept of `ext

[2016-06-01 18:13] DamnWidget commented on #266
@mrmachine, I just tested in my OS X and everything was working fine, I am using El Capitan and the new Docker Beta for OS X (that is not Docket Toolbox) it's much cleaner.

I can't reproduce your error, anyway, something that I noticed recently in your report is the error message in your ST3 console is for LocalWorkers exclusively, if you are using a RemoteWorker trough the `tcp://` URI you shoul

[2016-06-07 16:35] jt-wang opened #488 "import validator "can't import" when it should have succeeded"
The `import validator` gives an error for the following line:

[code]

<img width="811" alt="2016-06-08 00 31 12" src="https://cloud.githubusercontent.com/assets/7776499/15866245/70dee76c-2d10-11e6-9ec3-e3f0ac20f10a.png">
<img width="776" alt="2016-06-08 00 31 25" src="https://cloud.githubusercontent.com/assets/7776499/15866247/7272debc-2d10-11e6-92ef-62be01d8d837.png">

The `import validator` fai

[2016-06-07 16:47] jt-wang commented on #488
Besides, I found a strange thing:

If I comment out the first two lines of `views.py`,

[code]

the `import validator` works perfectly (though the codes are wrong) and can detect the function`home_page`.

 If I add the first line back `from django.shortcuts import render`,

[code]

 then the validator fails. It can only detect `render`.

It I comment out the first line and add the second line back

[2016-06-07 16:54] jt-wang commented on #488
FYI:

I checked the project I wrote before, which absolutely went smoothly using Anaconda and I haven't made any changes in it. To my surprise, Anaconda failed in the same way in that project, too.

[2016-06-07 17:03] jt-wang commented on #488
I solved it, though I don't know why...

Here is the cause, I use pyenv and I **should add a `.pyenv-version` file** whose content is:

[code]
**in the base directory of the sublime project**. Though I configure the python python_interpreter in `.sublime-project` as well as `Anaconda.sublime-settings`, it seems not work. I have to edd the `.pyenv-version` such that `Anaconda` works.

<img width="8

[2016-06-07 17:33] jt-wang commented on #488
To summarize the problem:

`import validator` failed to detect user-adding things including class, functions, variables and so on.

[2016-06-08 12:29] DamnWidget commented on #488
Hi, I will take a look on this as soon as I can.

[2016-06-09 10:41] aaakbar commented on #367
Seems to be working fine for the package/module parts of references but not for class/obj parts of references; the behavior is consistent regardless of the context (import statements or other parts of code behave the same).

**Scenario 1**
`from [package] import [module/class]`  (tested on: `from django.contrib.auth.modules import User`)
* goto definition for `[package]` or any of its parts (teste

[2016-06-09 13:07] DamnWidget commented on #367
Thank you for quite a complete report @aaakbar, I wish all the reports where like this one, I have my plate full right now preparing the v2 release and fixing other bugs but I will investigate deeper on this one as soon as I have a gap.

[2016-06-09 17:30] DamnWidget commented on #367
I got some time after lunch to test this again. I created a new virtual environment using Python3 were I installed django and mongoengine to replicate Scenarios 1 to 4.

[code]

**Scenario 1**
* I created a new django project using `django-admin startproject mysite`
* I edited opened the mysite directory with ST3
* I saved new project with project settings:
[code]
* I did open `mysite/mysite/urls.

[2016-06-10 12:09] aaakbar commented on #367
@DamnWidget Thanks for looking into the problem, for the detailed report, as well as for the great dev tool Anaconda is. Reading as much as possible regarding this error I see that users with local project installations (everything on the same host) don't have the same problem at all.

My conclusion after reading your report is much the same as yours - the problem must be environment. The fact tha

[2016-06-10 12:25] DamnWidget commented on #367
@aaakbar if you don't want to spend time in something that probably is fixed in v2.0.0 (as all the code involving remote environment integration has been rewritten in v2.0.0-rc1) checkout the v2.0.0-rc1 branch and take a look at the new documentation for [vagrant](https://github.com/DamnWidget/anaconda/wiki/Anaconda-v2:-Using-a-remote-python-interpreter-through-Vagrant) environments in version 2,

[2016-06-15 09:20] pradyunsg opened #489 "[meta] Moving non python-support specific code into a Package Control Dependency"
Some off-topic:
- Many thanks for such a wonderful package!
- I would like to help you with this package. Do you have any suggestions ("easy" issues) for me to start with?

This issue is really somewhere between a question and a feature request.

Would it be possible to move code that would be shared by Anaconda and Anaconda Rust into a Package Control dependency that can be reused by the two of t

[2016-06-15 09:52] DamnWidget commented on #489
Answering your first question, you can take a quick look at the open issues and pick one to start working on, if you do, diverge your code from `v2.0.0-rc1` branch please.

About the non python-support, well, anaconda offers a plugable architecture ready to use with any ST3 package, you can find more information in the [plugable architecture](https://damnwidget.gitbooks.io/anacondast3-developers-d

[2016-06-15 09:58] pradyunsg commented on #489
On it. :wink:

I meant moving the "plugable architecture" portion into a Package-Control Dependency. And adding it as a dependency for all `anaconda*` projects.

I am (kinda) but I don't really mind if it doesn't change.

[2016-06-15 10:02] pradyunsg commented on #363
Sure. No issues. I guess I'll just close this issue now.

[2016-06-15 10:02] #363 closed

[2016-06-15 10:19] DamnWidget commented on #489
I already have a plans to decouple even more the anaconda JsonServer from ST3 itself, and make it a standalone service that could be then used with other editors like atom, brackets, vim or emacs what I don't have is time.

The only downside to move the anaconda asynchronous infrastructure (workers, jsonclient, ioloop) into a separate package is the added complexity, is something that I am open to

[2016-06-15 23:03] RobinStephenson commented on #459
I think you're mistaking the IDE for a REPL. IDLE when running a script does not print data which is returned. However if you are using IDLE as a read evaluate print loop, it will print the result of the previous line.

[2016-06-15 23:04] RobinStephenson commented on #459
Maybe label as wontfix / invalid

[2016-06-15 23:14] RobinStephenson commented on #429
I can reproduce the invalid syntax ([E] invalid syntax) and this is what I got in my python console.
[code]
in my terminal type python gives /usr/local/bin/python
Hope this helps

[2016-06-16 04:57] pradyunsg commented on #489
Great to know! I guess this issue could become a tracking issue for that.

Note: I ended up taking up an issue with pip. I will come back to this project, as soon as I'm done with that.

I like #414 and #235. They are both feature-requests. I don't think you're not going to get the time to work on these with 2.0.0 coming up. Any tips for these or other issues?

[2016-06-20 15:01] nbara opened #490 "--debug"

[2016-06-20 15:02] #490 closed

[2016-06-21 17:35] qmmp123 opened #491 "Pep 484"
Will you add support for pep 484?
for example:

[code]

[2016-06-22 08:52] DamnWidget commented on #491
That is more a question for Jedi, our auto-completion underlying library and seems like it's already answered https://github.com/davidhalter/jedi/issues/729

I will update to the latest stable Jedi version for v2.0.0 that is on the way now but Jedi will move that feature to the stable branch in the future I am afraid.

[2016-06-22 08:52] #491 closed

[2016-06-22 11:36] DamnWidget commented on #489
Sorry for the delay, I have been really busy lately.

I think #414 is gonna be a bit tricky as the support for HTML in the ST3 tooltip thing is not too complete.
About #235, I think ST3 already implements something like that in the vanilla packages in the Goto everywhere.

[2016-06-22 11:37] #459 closed

[2016-06-23 22:16] apapanico opened #492 "jsonserver crashing"
Hi, so something appears to be failing with the jsonserver.

Here is my system:
Ubuntu 15.04
Sublime 3 Build 3114
Latest Anaconda

When I fire up sublime, if I'm quick, I can nab this output from `ps -Aef` but then a second later the jsonserver will crash.  This renders Sublime useless as it slows down and makes editing python files impossible unless I turn off Anaconda.

[code]

... and 1 second

[2016-06-23 22:28] apapanico commented on #492
Update:

I looked up the jedi logs.  In a recent log, I found this

[code]

Right now, I am running it (I uninstalled and then reinstalled Anaconda) and it appears to be working.

[2016-06-24 11:28] qmmp123 commented on #491
Thank for your answer. I will wait

[2016-06-26 04:39] kkurian opened #493 "Garbage in the footer"
While working on a file, the ST3 footer will as expected contain something like this:

![screen shot 2016-06-25 at 11 46 49 pm](https://cloud.githubusercontent.com/assets/70291/16360404/24335f2e-3b2f-11e6-9e6e-3d54c3f1ff3b.png)

or like this:

![screen shot 2016-06-25 at 11 47 00 pm 1](https://cloud.githubusercontent.com/assets/70291/16360406/263c1f36-3b2f-11e6-943f-258107f39802.png)

Frequently a

[2016-06-26 10:19] Jorg3Moreno opened #494 "Support to run scripts using arguments"
Hi everyone.

Currently is posible run scripts using arguments with `shell_cmd`, for example:
`"shell_cmd": "python -u \"$file\" arg1 arg2"`
But, when i use `"Anaconda Python Builder",` `"shell_cmd"` is override and is not possible use arguments.

I think it's a good idea to include a setting (like `"python_interpreter")` that allows pass arguments to run the scripts.

Thank you for your attention

[2016-06-26 13:29] AndreasBackx opened #495 "show_signature shows docstring"
The display signatures has the following info attached:
[code]

But enabling it will also show the docstring in the bottom bar which overrides the signature it is supposed to show. Showing the docstring in a cramped space does not make any sense in my opinion as it does not have the space required to show a docstring.

![You cannot read this](https://i.imgur.com/VVveioQ.png)

It would be great of

[2016-06-26 13:32] AndreasBackx commented on #495
My bad, this is a duplicate of #493. I guess my frustration of the issue got the better hand of me.

[2016-06-26 13:32] #495 closed

[2016-06-26 13:34] AndreasBackx commented on #493
The `show_signatures` does not seem to show the signatures for me anymore, but instead the docstring every single time and makes it quite a pain to use.

[2016-06-27 01:34] DamnWidget commented on #493
From the config file:

[2016-06-27 01:52] kkurian commented on #493
@DamnWidget According to the config files, the tooltip settings relate to floating popups not the footer.

[code]

That said I'll give your suggestion a try. If it works then, at least, comments in the default config file ought to be updated.

[2016-06-27 12:53] AndreasBackx commented on #493
@DamnWidget I thought the same thing. But it only seems to work for the tooltips and I have all of the tooltip settings set to false.

[2016-06-27 18:37] DamnWidget commented on #493
I will take a look

[2016-06-28 16:22] DamnWidget commented on #493
I already fixed this bug but I am not sure when I am gonna release it, I don't know if wait for v2.0.0 or push a small one. I will decide it later.

[2016-06-28 18:33] AndreasBackx commented on #493
I would really love a small one, most people use the signatures shown in the footer. Thanks for the fix.

[2016-06-29 09:24] DamnWidget commented on #493
I made my mind, I will release this fix later today

[2016-06-29 09:26] DamnWidget commented on #494
Hi Jorge

You really shouldn't be using the Anaconda Python Builder, create one for your own and attach to it, anyway, I will think about add something like what you requested but the Anaconda Python Builder is not designed to be flexible but easy to use.

[2016-06-29 09:27] DamnWidget commented on #492
Hard to say where the problem relies with that log, I am closing this for now, feel free to open it if you encounter the problem again.

[2016-06-29 09:27] #492 closed

[2016-06-29 17:35] #493 closed

[2016-07-02 10:24] ankush981 commented on #244
I had the same issue with Anaconda on ST3 and Ubuntu 14.04. Disabling Anacoda solved it, but that doesn't prove it was caused by Anaconda.

[2016-07-02 10:25] DamnWidget commented on #244
Probably you had SublimeJedi active at the same time

[2016-07-02 10:29] ankush981 commented on #244
OMG that was it! :dancer: :dancer: Thank you so much! My ST3 experience has just improved by 300%! :smile:

[2016-07-02 10:34] DamnWidget commented on #244
No problem

[2016-07-03 13:20] dufferzafar opened #496 "Implement Goto Next / Previous Method"
PyCharm has a pair of hotkeys for Goto Next / Previous Methods. (`Alt + Up / Down` for me)

It'd be nice to have these in Sublime too.

I'm not really sure if this will be the correct plugin to add the functionality to, but let me know if you feel otherwise.

I'm also pretty familiar with Python (not with anaconda's source though) so would be happy to implement this feature myself - just give me s

[2016-07-04 09:13] DamnWidget commented on #496
What you mean with Goto Next/Previous Method? To iterate over the methods of a class definition?

[2016-07-04 16:56] dufferzafar commented on #496
Yeah. Exactly that!

[2016-07-04 17:49] DamnWidget commented on #496
If you think you can implement it, go on, it could be added in v2.0.0. you can take a look at the [developer documentation](http://damnwidget.gitbooks.io/anacondast3-developers-documentation/) to make a general idea about how the package code is structured and how it works

[2016-07-05 08:31] asfaltboy opened #497 "Duplicate choices appear for some "Goto Definition" results"
This may be related to having some packages installed in "editable" mode (I have multiple such packages in my env).

[2016-07-05 08:59] DamnWidget commented on #497
Is the double choice present for every symbol or is for some specific libraries? The Goto, Autocomplete and Show Documentation features are provided by Jedi so I guess it is returning those dupes.

Can you try to run jedi manually in an IPython (or similar) from the anaconda's `anaconda_lib` directory using a symbol that gave you the problem?

For example, and using the file `test.py` as sample:
[

[2016-07-05 10:10] asfaltboy commented on #497
Yes, good call this is indeed an issue with jedi. Seems `goto_definitions` computes a `sys.path` (when not provided) and includes the editable package source path twice. I'll open an issue with `jedi`.

[2016-07-05 10:15] asfaltboy commented on #497
I was dead wrong, it's not dupe at all! It's just defined multiple times...

[2016-07-05 10:24] DamnWidget commented on #497
That is life ;)

[2016-07-05 19:04] apapanico commented on #492
Just happened again but now seems back to normal...

Here is the order of events

1. Sublime window was open but I was not editing a python file.
2. I opened another Sublime window to test something out in python.
3. Editing the file was fine until I saved it as a py file and Anaconda took over.  I nabbed the jedi log right after it happened.

It's this 20+ times for about 40 seconds.  I tailed th

[2016-07-05 20:44] DamnWidget commented on #492
I think your problem is that you have the debugging mode enabled and Anaconda is trying to run more than one JsonServer in port 9999.

Take a look at your configuration files.

[2016-07-05 20:46] apapanico commented on #492
This is true.   These were the settings:

[code]

Any suggestions on how to replicate the bug and see if switching off debug mode will knock it out?

[2016-07-05 20:57] DamnWidget commented on #492
I don't think you will experience this problem if you disable the debug mode. Anaconda tries to start every instance of the JsonServer in it's own port, u will not get an `Address already in use` error in regular circumstances.

When you set the debug mode, you are telling anaconda to stick with the configured port so it will always try to start a server in the specified port, normally that is not

[2016-07-05 21:25] apapanico commented on #492
I see.  Now I understand it better.

Well I switched back and forth between debug mode and I couldn't cause the `Address already in use` error.  I see the jsonserver grabbing the port 9999.

I tried several variations on opening different windows and I could not for the life of me recreate the problem.  Whenever I had another window open and opened a new python file, it just latched onto the open

[2016-07-05 21:34] DamnWidget commented on #492
You will see the problem if for some reason the JsonServer asynchat is crashing due an unhandled exception but the socket is not released (hard to recreate anyway)

[2016-07-06 08:33] asfaltboy commented on #497
Sorry, I have to raise this again. I confused two scenarios. There still is a case, where I get 2 identical locations when using "Anaconda: Goto object definition" command.

I'm not sure exactly how to reproduce this in jedi shell, but it is plausible the cause is multiple definitions returned for a given `completion.follow_definition()`. It is this completion object's method that I'm attempting t

[2016-07-06 08:51] DamnWidget commented on #497
I am not sure if I want to add that overhead to every single request, look for dupes means add in a way or another an O(n^2) operation that is kinda slow to solve a problem that I consider to be minor.

[2016-07-06 08:55] asfaltboy commented on #497
Yes, in theory, but,we're talking about a lookup for `len(matches) > 1`, I can't imagine that will happen often, and if it does it will be 3 conditions checked, maybe a single digit number of times ... I wouldn't call that performance overhead, only code complexity.

[2016-07-06 09:39] DamnWidget commented on #497
I was taking a look at the code and at your solution, I used the `os.path` as sample and I don't think your solution is valid as in the multiple import scenario the line and column are different, you can check it running the following:
[code]
Is not that simple to fix that at our level.

[2016-07-06 10:07] DamnWidget commented on #497
@asfaltboy can you please give a try to branch [issue_497](https://github.com/DamnWidget/anaconda/tree/issue_497) ?

[2016-07-06 10:14] asfaltboy commented on #497
@DamnWidget you are correct, I neglected to mention that in my case the conditional imports are of classes that share common ancestor class, which means that both "re-use" some methods; which leads to both being resolved to the same definition.

[2016-07-06 15:22] DamnWidget commented on #497
I had to look in Google what LGTM means xDDDD (I am getting old), I will do a small release with the fix as soon as I fix the tests for Python 2.6 that are currently failing because the change :(

[2016-07-06 15:24] asfaltboy commented on #497
Great, thanks for your help Oscar!

[2016-07-06 17:41] #497 closed

[2016-07-06 22:11] karolyi commented on #449
@DamnWidget ?

[2016-07-06 22:19] karolyi commented on #449
@DamnWidget ?

[2016-07-06 22:33] DamnWidget commented on #449
I will update Jedi as soon as that commit gets merged into the Jedi's master branch

[2016-07-06 23:21] DamnWidget commented on #439
Feature implemented, waiting for v2.0.0 release

[2016-07-07 08:44] DamnWidget commented on #266
Hey guys, how are we looking? Is anyone giving a try to the v2.0.0-rc1 or docker branches? It looks fine, any concerns? Release of v2.0.0 is closer now so all the feedback would be much appreciated.

[2016-07-07 08:55] DamnWidget opened #498 "[v2.0.0] We need brave man and women"
Hi everyone,

Release of v2.0.0 is now very close, there is only one more issue to be addressed in the milestone and then we are ready to rock. As some of you already know, I program now much more in Go and Rust than in Python, I find myself using vim a lot now and when I have a GUI and I am able to use ST3 I use `anaconda_rust` for rust or `GoSublime` for Go (I am thinking in take `anaconda_go` b

[2016-07-07 09:22] mrmachine commented on #266
I will try again. I gave up for a while after the last issue.

[2016-07-09 18:40] DamnWidget commented on #488
I could not replicate the problem as it has been described in the issue, anyway, I found that sometimes Jedi fails to imports modules in some cases with specific relative imports.

Sadly I am not able to offer a satisfactory solution yet to this problem.

[2016-07-11 03:23] Kzinglzy commented on #472
this happend again after update to v1.4.28...

[code]

[2016-07-15 13:13] ik-dev commented on #266
I was configuring my anaconda python interpreter on windows after starting minserver on one of the containers. But anaconda is failing to find the connection.

Logs on ST3:

Minserver logs:

Here is my anaconda user settings:
[code]

Can anyone let me know what's missing?

[2016-07-15 13:30] DamnWidget commented on #266
Probably ST3 already fired a local anaconda Worker instead of a RemoteWorker and it was stick to it.

If you can reproduce it, open a ST3 console and write the following:
[code]
In that way we can see the kind of worker that your ST3 launched for you. In any case, I see that you are using the `docker` branch, try to use the `v2.0.0-rc1` branch as it has some bug fixes already.

I remember that I d

[2016-07-17 05:36] danceasarxx opened #499 "Anaconda does not show function docs afters using decorator"
Anaconda refuses to show the documentation of any function that has been decorated even after using
`functools.wraps`. Rather than that it shows the name of the decorator. I don't really think I need to show an example but just in case

[code]

[2016-07-18 05:22] ik-dev commented on #266
Tried `v2.0.0-rc1` branch but `minserver` failed to start with following stack trace:

[code]

On ST3 I tried to import anaconda module and even that failed.

[code]

PS: It would be great if you could share  `Dockerfile` and `docker-compose.yml` meant only for anaconda server.

[2016-07-18 07:25] DamnWidget commented on #266
Looks like your ST3 is not using the Git version of anaconda at all, make sure that you uninstall any Anaconda version downloaded by Package Control, remove the git repository from the `Packages` directory and clone it again.

I will add a Gist with the config files to the wiki

[2016-07-18 08:51] ik-dev commented on #266
I had installed anaconda package which was available via Package Control. Removed it, cloned `v2.0.0-rc1` and restarted ST3. Now it seems to be working.

[code]

Let me know if I can help by contributing to that wiki or somehow.

Thanks for your help @DamnWidget :+1:

[2016-07-20 00:04] ChrisBarker-NOAA opened #500 "feature-request: smart line continuation indenting"
I like that my linter gives me helpful errors like:

"continuation line under-indented for visual indent"

But really, if the linter can tell me it's wrong, why can't the editor do it right for me automatically?

i.e. if I hit <tab> ANYWHERE on the line, the line should get indented "properly". Simple as that.

If I hit <tab> when in the indentation whitespace on a non-continuation line, it should

[2016-07-21 20:40] DamnWidget commented on #266
Here the gist with the example and instructions:
https://gist.github.com/DamnWidget/3e58cec118879ed7baa08dc283e162a0

[2016-07-22 11:17] DamnWidget commented on #500
Or you can just enable the auto pep8 formatting on save feature.

[2016-07-22 19:40] ChrisBarker-NOAA commented on #500
I really don't think I want full auto-pep8 -- and I don't want to have to wait for a save.

It's worth playing with, however -- thanks for the tip.

[2016-07-30 09:12] sametmax commented on #498
Ok, will give it a try.

[2016-07-30 09:27] sametmax commented on #498
2 stuff I tried to do but couldn't find how:

- Activate mypy linting;
- test the docker integration.

The rest seems to work fine for now, but I'll need a week of fiddling to confirm it's solid.

[2016-07-30 10:44] DamnWidget commented on #498
Hi, thank you for test anaconda v2.0.0 as being the next major release I
am beinng very cautious about it.

You can check the options for MyPy in here:
https://github.com/DamnWidget/anaconda/blob/v2.0.0-rc1/Anaconda.sublime-settings#L451-L495

For docker you can follow the wiki:
https://github.com/DamnWidget/anaconda/wiki/Anaconda-v2:-Using-a-remote-python-interpreter-through-Docker

Regards

On S

[2016-07-31 03:33] Datamance opened #501 "Bad pylint error"
<img width="440" alt="screen shot 2016-07-30 at 8 29 13 pm" src="https://cloud.githubusercontent.com/assets/8699411/17274408/76191934-5694-11e6-9cce-9363c8cbdabc.png">

^^^ this is definitely not invalid syntax. star-args (W0142) is no longer present in pylint (at least since version 1.4.3), so it's not that. Anaconda literally just thinks that this code won't run.

[2016-08-01 11:32] DamnWidget commented on #501
Next time would be really helpful if you also attach a screenshot of the
"errors list" using the Command Palette command to show it as in that
screenshot all that I see is a Sublime Text 3 region with no error context
information at all.

Anaconda doesn't know anything about Python, anaconda is very dumb and
doesn't know what is valid or invalid Python code until an external linter
(like PyLint) t

[2016-08-01 14:32] Datamance commented on #501
@DamnWidget duly noted - I'll check my pylint version when I get home.

[2016-08-05 10:18] dufferzafar opened #502 "Fallback to sublime's inbuilt goto definition"
There are cases when Anaconda is unable to find an object's definition.

But, sublime's built in `goto_definition` works!

I think Anaconda could just use this as a fallback or at least provide a setting to do so?

[2016-08-05 19:36] shtalinberg opened #503 "Select and copy from tooltip"
See tooltips PyDev in Eclipse - it's very usefull.
It's possible ?

[2016-08-08 09:01] DamnWidget commented on #503
ST3 doesn't export a way the plugins can use to select and copy from tooltips

[2016-08-08 09:01] DamnWidget commented on #502
That is something that could be added in some point

[2016-08-09 11:28] cameronnn opened #504 "Anaconda cuases plugin_host exited unexpectedly error- sublime build 3114 Windows 10"
Hi, Whenever I install Anaconda package I got this error frequently during work and I have to restart sublime text because package control and snippets seems to be out of reach.
Also Anaconda causes a slightly performance issue during writing the code.
I removed all my plugins each by each and tested which cause this problem and it is Anaconda

What can I do ? I appreciate your help

[2016-08-09 11:43] DamnWidget commented on #504
Hi, there are several things that you can do yo help us to help you.

- Give us a detailed list of plugins that you use in your ST3
- Capture any output log from the ST3 console
- Create a gist with the contents of the file in `%APPDATA%\\Jedi\\Jedi\\<your_project_name>\\anaconda_jsonserver.log

[2016-08-10 07:23] AllanLRH opened #505 "Feature request: Suppress output pr. line using a comment"
Would be nice to be able to suppress output pr. line using a comment like `# ignore: E127, W311`.

[2016-08-10 07:31] DamnWidget commented on #505
What you mean with "output pr"? You can use `# noqa` to suppress some of the linting errors

[2016-08-10 07:35] AllanLRH commented on #505
Meant exactly like the `# noqa` comment, but for all linting errors – maybe it could be suppressed at the plugin level of the code?

[2016-08-10 08:26] DamnWidget commented on #505
Is not that simple to suppress them at the plugin level, the data that comes from the linters have no information about the comments in the line that has being linted. I would need to think about this deeper to know if it would be viable.

In the meanwhile you have several options

* Add the errors/warnings that annoys you to the ignore list (but it would be disable in the whole project ;___;)
* D

[2016-08-10 14:30] DamnWidget commented on #505
I think I can implement this but it has to wait till v2.0.0

[2016-08-10 14:31] DamnWidget commented on #504
Any update here?

[2016-08-10 14:38] AllanLRH commented on #505
That would make linting through anaconda immensely more useful and unobtrusive for me 👍

[2016-08-10 23:29] cameronnn commented on #504
List of my plugins right now:

-Anaconda
-Autoprefixer
-Babel
-BracketHighlighter
-Can I use
-Color Highlighter
-Color picker
-CSS Extended completions
-CSS Media query snippets
-CSS snippets
-DocBlocker
-Emmet
-Flask Completions
-Flask Starter
-HTML Snippets
-HTML5
-HTML5 Doctor CSS Rest Snippet
-Javascript Completions
-JavascriptNext
-JQuery
-JSFormat
-JSHint
-LiveReload
-LiveStyle
-Package Cont

[2016-08-11 04:48] redstoneleo opened #506 ""E125" and "E129" means the same??"
The doc here syas
http://damnwidget.github.io/anaconda/IDE/#toc_46
"E125" and "E129" means the same : Indent to distinguish line from next logical line

[2016-08-11 07:43] DamnWidget commented on #506
Seems like they modified the error codes descriptions since that page that you referenced was written, they have a much more accurate descriptions now, I should update ours.

More info: http://pep8.readthedocs.io/en/latest/intro.html#error-codes

[2016-08-11 08:02] DamnWidget commented on #506
I updated the documentation to reflect a more accurate description of what each error means instead of what the autoformat tool do

[2016-08-11 08:02] #506 closed

[2016-08-11 08:04] DamnWidget commented on #504
Those are quite a few plugins that you are using.

First thing, don't use SublimeCodeIntel and anaconda together, if you are gonna edit python code, consider to disable SublimeCodeIntel, this is a plugin well known for interfere with other autocompletion plugins, anaconda being one of them.

I still need the logs that I asked for. Can you provide them please?

[2016-08-11 08:05] #503 closed

[2016-08-11 08:05] DamnWidget commented on #501
Any updates?

[2016-08-12 12:27] kiddick commented on #106
Got stucked with the same issue.
Cleaning of `rm -rf the .cache/jedi` resolved an issue.

[2016-08-13 08:59] ludbek commented on #423
@RushPu  how did you solve it?

[2016-08-13 09:18] ludbek opened #507 "Sublime is barely responsive while editing python file."
Sublime is barely responsive while editing python file.

[2016-08-13 21:33] divinites opened #508 "vagrant_server cannot start"
I tried to configure vagrant + anaconda following your instruction here:
[http://damnwidget.github.io/anaconda/vagrant/](http://damnwidget.github.io/anaconda/vagrant/)

But I encountered an error when starting the vagrant server on the guest machine:
`python server.py`

the error message is:

  File "/vagrant/anaconda/anaconda_lib/enum.py", line 367, in __getattr__
    return cls._member_map_[name

[2016-08-15 07:26] DamnWidget commented on #508
Can't reproduce it using Python 3.5.2, what is that vagrant machine running?

[2016-08-15 07:29] DamnWidget commented on #507
There is nothing that we can do with the information that you provided that is none. You should tell us which versions are you using in which operating system and which other packages are you using along side with anaconda.

The first thing that you should do is disable all plugins but anaconda and check if your ST3 is unresponsive, if it is, you probably configured a non valid `python_interpreter

[2016-08-15 12:02] divinites commented on #508
Vagrant is running ubuntu 14.04 x64. This problem only happens when I
change the entry in config.py from python to python3. The server runs okay
when using python 2.7.

On 2016年8月15日 at 上午8:26:25, Campos Oscar (notifications@github.com) wrote:

Can't reproduce it using Python 3.5.2, what is that vagrant machine running?

—
You are receiving this because you authored the thread.
Reply to this email

[2016-08-15 14:02] commutecat commented on #507
My current work around : DISABLE Package control  and re-enable it.

At first , I suspect something with sublime when I notice text entry turn sluggish.

OS : ubuntu 14.04.1  , kernel version  3.16.0-77 x86_64
[code]

Then follow typical sublime Package Control installation. Then install anaconda using package controller.  As soon as Anaconda install into Sublime, all my text editing will slow to

[2016-08-15 15:48] #507 closed

[2016-08-15 19:08] AllanLRH opened #509 "Cannot autocomplete sys.stdout.flush()"
Cannot autocomplete `sys.stdout.flush()` – the `sys,stdout` works ok thouth.
Using Python 3 on mac (Anaconda Python disitibution, Python 3.5.2).

[2016-08-16 11:04] divinites commented on #508
This is my config file:

Anaconda standalone server configuration
"""

project = "github_crawler"                # the name of the project
extra_paths = None                  # a list of extra paths
port = '19360'                      # the port to listen on (as string)

[2016-08-16 12:01] DamnWidget commented on #508
In the traceback looks like your Python 3 interpreter is using the Enum backport for Python 2 instead of it's own native Enum class.

I don't think this is related with anaconda itself but environmental to your vagrant.

By the way, if you are using anaconda with vagrant, you would probably give a try to the v2.0.0-rc1 branch using this configuration: https://github.com/DamnWidget/anaconda/wiki/An

[2016-08-16 12:04] divinites commented on #508
Good, I will try anaconda 2.0 then.

[2016-08-16 12:14] divinites commented on #508
My situation is that I have a headless server runing osx + vagrant linux, I would like to use anaconda in my laptop to connect to this server and write code.

In this situation, vagrant and sublime text is not in the same computer, so I suppose what I should do is to git clone the anaconda 2.0rc in the server and set it as a synced folder, that's fine.

But how can I set the python interpreter? sh

[2016-08-16 12:30] DamnWidget commented on #508
I see that we have a nice use case in here, try this:

- Clone anaconda v2.0.0-rc1 in the vagrant guest (linux)
- Remove your current anaconda version from ST3 (1.4.28)
- Clone anaconda v2.0.0-rc1 in your ST3 Packages directory
- Configure your vagrant to expose the port that you are gonna run anaconda to the internet (you can check how to do that in [this link](https://github.com/DamnWidget/anaco

[2016-08-16 12:40] DamnWidget commented on #266
How are we looking guys? Are you still testing this? Shall we release and go 🌴? :P

[2016-08-16 12:47] DamnWidget commented on #509
Can't replicate it using Python 3.5.2, try this:

- Open a Terminal
- Go to the Anaconda directory under your ST3 packages folder
- cd into `anaconda_lib`
- run this command `python -c "import jedi; s = jedi.Script('import sys; sys.stdout.f', path='.'); print(s.completions())"`

If you get an output like: `[<Completion: fileno>, <Completion: flush>]` everything is fine with your installation, if y

[2016-08-16 12:58] villlem commented on #266
Looks good to me. Using it every day.

út 16. 8. 2016 v 14:40 odesílatel Oscar Campos <notifications@github.com>
napsal:

[2016-08-16 14:04] divinites commented on #508
problems in running minserver.py of anaconda 2.0.0-rc1:

Traceback (most recent call last):
  File "minserver.py", line 28, in <module>
    from lib.log import log_directory
ImportError: No module named log

if run with python3:

  File "minserver.py", line 28, in <module>
    from lib.log import log_directory
ImportError: No module named 'lib.log'

There is no log.py in anaconda/anaconda_server/l

[2016-08-16 16:49] AllanLRH commented on #509
Where do I find the logs? Also, notice that I'm not working in a project.
Here are some output from my terminal:

[code]

[2016-08-16 22:58] DamnWidget commented on #509
There is another user that uses the anaconda Python distribution that have the same problem with the enum. I will try to install it and reproduce the problem

[2016-08-16 23:05] AllanLRH commented on #509
Then you should have a look at [Miniconda](http://conda.pydata.org/miniconda.html) – it's a lot smaller that the full blown Anaconda Python Distribution, and it doesn't require you to register (I installed in this way).
And the distribution comes with it's own package manager, Conda – hope it makes checking the problem easyier :)

[2016-08-21 13:22] danceasarxx commented on #499
This is really bad PR

[2016-08-21 13:22] #499 closed

[2016-08-22 09:10] DamnWidget commented on #499
What you mean?

[2016-08-22 22:02] Effenberg0x0 commented on #337
Hi DamnWidget. Thank you so much for Anaconda. [My pull request](https://github.com/DamnWidget/anaconda/pull/510) seems to fix the problem with the wrong line being highlighted when validating imports. Regards.

[2016-08-24 13:13] commutecat opened #511 "Anaconda runs very slow, jsonserver.py crash because anaconda_jsonserver.log user change to root"
Ubuntu 14.04.5 LTS,
kernel Linux ubuntu 3.16.0-77-generic #99~14.04.1-Ubuntu SMP Tue Jun 28 19:17:10 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
Sublime : 3.6.2

Anaconda slow the editing and navigation to snails.  Using ps to check anaconda process, I found this

`xyz  16051 16041  9 14:51 ?        00:00:00 [python] <defunct>
`

After enough search , I found someone in sublimetext forum encounter the

[2016-08-24 13:56] ZupoLlask opened #512 "Missing "Anaconda Python Builder""
Sublime version: ST3 Build 3114
Windows 10 Pro 1607 (build 14393; 64-bit)

I've installed package through package installer and everything seems to work, but it doesn't add "Anaconda Python Builder".

I've also changed my `python_interpreter` from `python` to `py` (so it uses system's default `Windows Python launcher`) but no matter what I'm still getting the error below.

[code]

[2016-08-25 07:47] DamnWidget commented on #512
I am not expert on Windows (just use it to play games that doesn't work on Linux) so I don't really know what is that Windows Python Launcher but looks like whatever `python` command that tool is invoking is not found in your path for the environment that the ST3 is inheriting.

Try to change the `python_interpreter` to the full path of your real python interpreter.

[2016-08-25 07:51] DamnWidget commented on #511
No idea, probably you ran ST3 as root in some moment and the file was written by root? In any case the `jsonserver` runs as the user that runs the ST3's `plugin_host` that runs as the user that runs `sublime_text` binary, so in some moment that user was root.

[2016-08-25 08:38] ZupoLlask commented on #512
Hi! ☺️

`py` is the official wrapper included in Python 3 packages responsible to execute on the fly either Python 2 or Python 3, without having to mess with environment variables and so on.

`py - 3` will run python.exe from Python 3, while `py - 2` will run python.exe from Python 2, and so on. Any arguments will be passed to python.exe.

As it is installed in Windows folder, `py` is everything t

[2016-08-25 09:01] DamnWidget commented on #512
Anaconda will update the `Anaconda Python Builder` to use whatever Python interpreter that you configured as your `python_interpreter` setting option. If it is missing is because anaconda is not able to start the `jsonserver` using that configured Python interpreter or because you are not using any ST3 project file.

[2016-08-25 10:04] commutecat commented on #511
Is it possible for anaconda to warn user of anaconda_jsonserver.log  permission?  Or update the FAQ to warn user when using sudo sublime to edit file?

[2016-08-25 10:16] commutecat commented on #507
The proper diagnosis found, a required log file used by anaconda json server permission overwrite by root.
https://github.com/DamnWidget/anaconda/issues/511

Because purging of sublime and re-installation will clean up the log folder used by Anaconda, that temporary "fix"(in exact, delete) the log file .

[2016-08-25 10:24] DamnWidget commented on #511
I will probably add something regarding that to the README.md after release v2.0.0 later this afternoon

[2016-08-25 16:26] #439 closed

[2016-08-25 16:26] #480 closed

[2016-08-25 16:26] #485 closed

[2016-08-25 16:30] DamnWidget commented on #498
Anaconda v2.0.0 has been already released

[2016-08-25 16:30] #498 closed

[2016-08-25 16:31] DamnWidget commented on #266
Docker support has been released with the anaconda v2.0.0 release today

[2016-08-25 16:31] #266 closed

[2016-08-25 23:37] hyperknot commented on #283
After some recent auto-upgrade, my Anaconda stopped working with the same error message.

OS: OS X 10.11.6
Sublime Text 3, 3114
Anaconda 2.0.1

[code]

Settings - user:
[code]

.anaconda file in project
[code]

sublime project file
[code]

[2016-08-25 23:47] hyperknot commented on #283
Update: I've tested by manually downgrading to 1.4.28 (and adding Anaconda to disable upgrade list in package control), the issue is not present, so it's a bug in 2.x!

[2016-08-26 00:25] DamnWidget commented on #283
I am using my phone right now so I can't really look into it but can  you try to change line 186 on file `anaconda_lib/helpers.py` to `view.window()` and check again?

[2016-08-26 05:12] nattster opened #513 "So many `jsonserver.py` process after upgade to 2.0.1"
After an upgrade to Anaconda 2.0.1, there are so many `jsonserver` process started.

[code]

## Log from sublime console

[code]

**Version**
* Anaconda 2.0.1
* Sublime Text 3 (Build 3114)
* Ubuntu 14.04

[2016-08-26 07:37] DamnWidget commented on #513
Can you gist and share the contents of ~/.local/shared/anaconda/tbh/logs/anaconda_jsonserver.log please?

[2016-08-26 08:04] nattster commented on #513
anaconda_jsonserver.log -> https://gist.github.com/nattster/c7003ac032ab07be19e42cfe6c9b3861

[2016-08-26 09:06] DamnWidget commented on #513
Seems like the jsonserver is crashing but for some reason we don't have any exception in the logs. I am gonna need you to start the server manually and paste any exception that is thrown to the standard output. To do so:

- Disable Anaconda plugin using Command Palette
- Close ST3 and make sure there is no jsonserver's running using `ps`
- Open ST3 and get it's PID using `ps`
- In a terminal, `pyt

[2016-08-26 13:19] DamnWidget commented on #283
I just made a [small fix release](https://github.com/DamnWidget/anaconda/releases/tag/v2.0.2) @hyperknot

[2016-08-26 14:48] alexander-akhmetov commented on #513
[code]

Perhaps the problem is here:
[code]

`jsonserver_debug` is disabled, but `self.debug` is `True`. Another jsonserver.py process was started.

[2016-08-26 21:30] JimAmuro opened #514 "warning popup after start of ST3"
[code]
After 2.0.x update, this warning always popups for the first or second time I start ST3 after I start my computer. I have no idea how to deal with it...

OS: Win 10.0.14393
ST3 3114

[2016-08-26 23:54] DamnWidget commented on #514
Anaconda works fine after that? If so, don't worry too much, your OS X is just a bit slow

[2016-08-27 03:39] danceasarxx commented on #499
Long after I have closed the ticket...I created this issue over one month ago...changed to emacs, came back to sublime and it still wasn't solved. And by the way....what do you mean by "What do you mean"

[2016-08-27 10:15] DamnWidget commented on #499
You said 'this is really a bad PR' normally here in GitHub PR is used to refer to Pull Request, there is no pull request involving this issue so that is why I asked what did you meant.

Btw, the issue is with Jedi the completion library, there is nothing that we could do except wait until they fix the issue in their side.

[2016-08-27 13:46] gbritton1 opened #515 "unexpected function of autocomplete on import"
If I start to enter:

import

a list pops of possible modules.  Suppose I want to import the math module.  I hit "m" and the list disappears!  I think it should rather automatically filter itself to modules beginning with"m" (math, mailbox, etc.) and not disappear.   Then I should be able to hit "a" for more filtering, etc.

If, OTOH, I enter "m" and hit tab, the editor shows:

import m

then tabs

[2016-08-27 13:47] gbritton1 opened #516 "How to run current python file"
While in the ide editing some python file, I want to execute that file from within the IDE.  How do I do that?

[2016-08-27 17:36] MrLear commented on #514
I have the same issue. I get the same error at startup. Is there a way to fix it?

[2016-08-27 17:54] JimAmuro commented on #514
@DamnWidget Yeah it works fine afterwards. It is just annoying...
And my system is Windows 10, not OS X...

[2016-08-28 03:46] danceasarxx commented on #499
No problem, don't need the solution anymore...thanks regardless

[2016-08-28 16:24] alexfradiani commented on #511
After the update installed today the editor has become extremely slow. Not sure if this is the same issue, I didn't find anything for anaconda in ~/Library/Logs. Running os x 10.11.6 / ST3 build 3114.

What should I be looking for?, I had to remove anaconda in the meantime because editor was unusable like that.

[2016-08-29 02:38] avamsi commented on #516
Use [SublimeREPL](https://github.com/wuub/SublimeREPL)

[2016-08-29 07:41] alejoar commented on #514
Same problem here with Ubuntu 14.04.

[2016-08-29 07:42] DamnWidget commented on #511
What you mean about not finding anything for anaconda in `~/Library/Logs`? That directory doesn't exists?

[2016-08-29 07:42] DamnWidget commented on #516
Use `Ctrl+B`?

[2016-08-29 08:13] DamnWidget commented on #515
That is a well known issue with ST3 import mechanism, use [this workaround](https://github.com/DamnWidget/anaconda#auto-complete-for-import-behaves-badly) to solve it (is in the README.md)

[2016-08-29 08:16] DamnWidget commented on #514
Is weird that you Operating Systems can't connect to your localhost in less than 0.05s (is much more weirder for @alejoar as for him anaconda is using an Unix Socket Domain).

Can I know your hardware specs please?

[2016-08-29 08:22] DamnWidget commented on #513
I understand that the "perhaps" paragraph is in answer to the "no logs in the log file", nope, that is just for verbosity, I will take a look at the exceptions chain when I have time.

Seems like you have an unicode problem (my favourite). Can I know the context of your project?

* The path containing your files use any non ASCII character?
* The code contains any non ASCII character?
* In your se

[2016-08-29 08:27] alejoar commented on #514
[code]

[2016-08-29 08:28] DamnWidget commented on #513
@nattster any update in your side?

[2016-08-29 08:28] DamnWidget commented on #512
@ZupoLlask any update?

[2016-08-29 08:38] insanemainframe commented on #513
I have this problem too

Yes

[2016-08-29 09:12] DamnWidget commented on #513
I will make a release later today to hopefully fix this issue.

[2016-08-29 09:51] nattster commented on #513
@DamnWidget I'm running Anaconda 2.0.2, and perform the steps as you suggested:

[code]

After that, it spawn more `jsonserver`.
My source code contains UTF-8 text.

[2016-08-29 10:33] #513 closed

[2016-08-29 10:35] DamnWidget commented on #513
Please, update your installation with v2.0.3, feel free to re-open if the issue persist (but add new logs)

[2016-08-29 13:42] sametmax commented on #498
I've been using it for days now. No problem so far. Great job !

[2016-08-29 14:46] MrLear commented on #514
I upgraded the package to v2.0.3. It didn't resolve the issue for me. I still get the same error.

[2016-08-29 14:48] JimAmuro commented on #514
Same here. Didn't resolve the problem.
Processor: Intel(R) Core(TM) i7-4700MQ CPU @ 2.40GHz, 2401 Mhz, 4 Core(s), 8 Logical Processor(s)
I don't think it is a slow CPU...

[2016-08-29 15:48] arita37 commented on #516
How to change sublime REPL interpreter to another one ?

[2016-08-29 16:16] avamsi commented on #516
@arita37 I use custom key-bindings. For example, here's a snippet from my key-bindings file:

[code]

[2016-08-29 16:31] alexfradiani commented on #511
I mean this from the README:

[2016-08-29 21:23] jslang opened #517 "Python interpreter no longer uses $VIRTUAL_ENV"
I configured anaconda to use existing $VIRTUAL_ENV variable, which previously worked. However after latest update, I am no longer able to do this.

Anaconda user settings:

[code]

For error output in console:

anacondaST3: ERROR - <Anaconda.anaconda_lib.workers.local_process.LocalProcess object at 0x104a80150> process can not start a new anaconda JsonServer in the operating system because:

Shell

[2016-08-29 22:46] gbritton1 commented on #516
So Ctrl-B does nothing out of the box.  With @avamsi's keybindings I got further, though there's an error (attached)
![2016-08-29_18-43-40](https://cloud.githubusercontent.com/assets/12263288/18069988/cb4ac998-6e18-11e6-9e1f-a85bf4eca780.png)

SublimeRepl looks interesting, How do I install it into Sublime?

[2016-08-29 22:59] gbritton1 opened #518 "Can I stop Sublime highlighting my code this way:"
![2016-08-29_18-57-07](https://cloud.githubusercontent.com/assets/12263288/18070239/92738806-6e1a-11e6-8fed-5f3540f4871a.png)

How can I stop Sublime from boxing every line like this?

[2016-08-29 23:19] jslang commented on #517
I'm closing this as I just realized this is not necessarily an Anaconda problem, but rather could be Sublime screwing up instead. Will investigate further.

[2016-08-29 23:19] #517 closed

[2016-08-30 00:37] DamnWidget commented on #518
You get those boxes cos your code has linting errors, why don't you try
just to fix what the status bar tells you about the line when you have
selected it?

If you still want to disable it just set the option "anaconda_linting" as
`false` in the anaconda configuration file but that will not change the
fact that the code is erroneous or not PEP8 compliant, it just ignored the
fact...

On Aug 29, 20

[2016-08-30 01:29] gbritton1 commented on #518
Thanks!  Didn't realize those were linting errors.  Turns out it was tab indented and I need space indented.  That led me on another journey to find out how to do that.

But it doesn't really work the way I want.  I set up a Python.sublime_settings like this:

{
	"translate_tabs_to_spaces": true,
	"tab_size": 4
}

then (do I have to restart for every change? What a drag!) reopened the file with pr

[2016-08-30 05:54] avamsi commented on #516
@gbritton1 Just to be clear, that error has nothing to do with my key-bindings. Those key-bindings execute commands added by SublimeREPL -- which you can install by following [these instructions](https://github.com/wuub/SublimeREPL#installation).

[2016-08-30 06:20] fredcallaway opened #519 "Crash upon startup: AF_UNIX path too long"
[code]

There is a python 3.5 process associated with Anaconda, but I can't see what file is being executed using `top ps aux | grep`. I know it's associated with Anaconda because it only shows up when I un-disable the package.

This was caused by a recent update (probably 2.0 as I haven't used the package in a while). Any advice would be much appreciated!

[2016-08-30 07:13] DamnWidget commented on #518
Normally if you use the menu in the right corner is usually enough

On Aug 30, 2016 2:30 AM, "gbritton1" <notifications@github.com> wrote:

[2016-08-30 07:49] DamnWidget commented on #519
Can I know the following?
* Your Operating System
* Your $HOME path
* Your ST3 project name (or directory that contains the code you are editing name)

[2016-08-30 07:50] DamnWidget commented on #514
Maybe slow disks or too much IO in your device, anyway, is not normal that your OS is unable to open a connection to the loopback interface in less than 0.1 seconds

[2016-08-30 07:51] alejoar commented on #514
@DamnWidget I didn't encounter the problem today, seems to be fixed for me.

[2016-08-30 07:53] DamnWidget commented on #514
Glad to read @alejoar

[2016-08-30 09:17] DamnWidget commented on #519
It doesn't matters, version v2.0.4 has a fix for this, I will release later today

[2016-08-30 09:27] avamsi commented on #516
@DamnWidget, as this issue is not related to Anaconda, I guess you can close it.

[2016-08-30 09:37] #337 closed

[2016-08-30 09:37] #519 closed

[2016-08-30 09:40] DamnWidget commented on #516
Well, we don't really know as the provided information is not enough to know if anaconda is working for the user but I guess that I would let you guys talk on this issue.

[2016-08-30 09:40] #516 closed

[2016-08-30 09:41] DamnWidget commented on #517
It maybe is an issue with anaconda, I just redesigned how the `python_interpreter` option is handled, let me take a look, I will re-open it again is a problem with anaconda.

[2016-08-30 09:43] DamnWidget commented on #515
Any update here @gbritton1 ?

[2016-08-30 09:49] DamnWidget commented on #511
@alexfradiani consider to install version 1.4.28 while I investigate about this. You can do it uninstalling anaconda (if you didn't uninstalled it yet) and then running the following in your terminal (after close your ST3 running instance if any):
* `cd ~/Library/Application\ Support/Sublime\ Text\ 3/Packages`
* `git clone https://github.com/DamnWidget/anaconda.git`
* `git checkout v1.4.28`

That

[2016-08-30 09:56] webtotma commented on #514
Similar problem on windows 10 x64, lubuntu x86 15.10.

[2016-08-30 10:11] DamnWidget commented on #508
@divinites I am wondering if you tried with the last v2.0.4, let me know if it's finally working for you

[2016-08-30 10:31] cuiluscnu commented on #514
I use win10 and have the same problem, i change the

C:\Users\<name>\AppData\Roaming\Sublime Text 3\Packages\Anaconda\anaconda_lib\workers\local_worker.py

line 34:
while not self._status(0.05):

to
while not self._status(0.20):

It work fine, you can try it.

[2016-08-30 13:29] divinites commented on #508
The same error:

[code]

[2016-08-30 13:31] alexfradiani commented on #511
Ok. I installed v1.4.28 and is working normally, thanks. I'll wait until new info before updating.

[2016-08-30 13:39] DamnWidget commented on #508
For some reason the minserver.py version that got into the release is old...
Please, change the line 28 to of anaconda_server/minserver.py to
[code]

I will fix it in next release

[2016-08-30 13:49] divinites commented on #508
Bingo! It works, thanks a lot for your help!

[2016-08-30 15:06] #518 closed

[2016-08-30 15:37] gbritton1 commented on #515
The workaround didn't work.  The behavior is the same as before

[2016-08-30 16:47] gbritton1 opened #520 "DamnWidget vs ContinuumIO"
What's the diff between the DamnWidget anaconda forum and the one at ContinuumIO?

[2016-08-30 17:02] sametmax opened #521 "Mypy results do not show up"
I have the last mypy installed on Ubuntu 16.04 64bits:

[code]

I have uninstalled and installed anaconda back again to be sure.

I have the following setting setup:

  `  "mypy": true`

Despite this, having this in my file:
[code]
Doesn't trigger any linter warning. I do have pep8 linter warnings showing up.

I ran mypy manually and the file, and it does show me the warning.

[2016-08-30 18:11] DamnWidget commented on #520
Forum, huh?

Anaconda from Continuum is a Python distribution including a Python Interpreter and lot of ready to use Python packages for scientific usage mainly.

Our Anaconda is a package that converts Sublime Text 3 into a full featured Python IDE

[2016-08-30 18:14] Effenberg0x0 commented on #515
I agree with the original reporting, but the workaround fixed it for me. Here's  a small screencast showing how completion works for me after applying the workaround. Sorry for the low quality: github does not accept video files, had to convert from mkv to gif...

![anaconda_screencast](https://cloud.githubusercontent.com/assets/4016782/18101217/373304ee-6ec4-11e6-8b87-f1e595abf51a.gif)

[2016-08-30 18:30] gbritton1 commented on #515
OK -- did that.  Stopped and restarted Sublime.  But the issue persists.  No discernible change in behavior.  I believe I followed the instructions to the letter

[2016-08-30 18:32] gbritton1 commented on #515
@Effenberg0x0 What directory did you put the file CompletionRules.tmPreferences.xml in?  I put it in:

"C:\Users\xxxxx\AppData\Roaming\Sublime Text 3\Packages\Python\Completion Rules.tmPreferences.xml"

At least, that's what I understood from the link to the workaround.

Also, did you have to restart sublime for that to take effect?

[2016-08-30 18:40] Effenberg0x0 commented on #515
I don't have a computer with windows, but it's the Linux equivalent:
~/.config/sublime-text-3/Packages/Python/Completion\ Rules.tmPreferences

Yes, I restarted sublime after applying the workaround.

Maybe there's a conflicting package? Which packages do you have (ctrl+shift+p and list packages).
I have  Anaconda, BracketHighlighter, Color Highlighter, GitGutter, Package Control, Python Improved,

[2016-08-30 18:41] Effenberg0x0 commented on #515
Oops, just noticed your file has a xml extension (Completion Rules.tmPreferences.xml), mine has no xml extension (Completion Rules.tmPreferences).

[2016-08-30 19:21] DamnWidget commented on #521
Can you gist the contents of anaconda's jsonserver logs and paste the URL to that gist?

The logs could be found in:

* Linux: ~/.local/share/anaconda/logs/<project_name>/anaconda_jsonserver.log
* OS X: ~/Library/Logs/anaconda/<project_name>/anaconda_jsonserver.log

[2016-08-30 22:17] sametmax commented on #521
Ok I did that and I got the error `RuntimeError("MyPy was not found")`. Mypy was installed, but not in the virtualenv of my project. So I installed it and it worked.

The code responsible for it is:
[code]
But mypy is like flake8, note related to your current env. You should be able to have one mypy, tox or flake8 installed for the whole system.

Maybe anaconda should provide a fallback mypy insta

[2016-08-31 00:04] gbritton1 commented on #515
That was it!  Thanks for the help

[2016-08-31 00:04] #515 closed

[2016-08-31 00:05] gbritton1 commented on #520
OK --thanks

[2016-08-31 00:05] #520 closed

[2016-08-31 00:28] Effenberg0x0 commented on #515
Glad it worked :)

[2016-08-31 01:40] timleslie commented on #514
I also see this problem on a freshly installed Windows 7 with the latest version of anaconda. Bumping up the timeout in local_worker.py did not fix the problem for me.

[2016-08-31 08:25] narusFR commented on #514
Hello,

I have the same error since 2.0.x too. It happens more often when I open python project directory with multiples .py files inside.

I have to specify that if I remove the following options from my user config, I don't have the error anymore :
	"hot_exit": false,
	"remember_open_files": false,

But the thing is, I want these options.
Do you guys have these options or similar ones (that affe

[2016-08-31 08:26] DamnWidget commented on #521
I could not replicate the issue myself, I have `mypy-lang-0.4.4` installed globally on my system (used `pip` to install it as there are no Arch packages) and it was working just fine into anaconda project itself (that is the only Python project that I currently work on).

Then I did open a new ST3 window and created a new python file, I noticed that MyPy wasn't working on that file but really ever

[2016-08-31 09:05] sametmax commented on #521
This is definitely tied to the virtualenv on my part, as I got:

	"settings":
	{
		"python_interpreter": "/home/user/.local/share/virtualenvs/tygs/bin/python"
	}

In my project settings file.

[2016-08-31 09:09] sametmax opened #522 "Silence "no library stub" warnings for mypy"
Right now you can either ask to no follow imports, or follow imports and get the whole file filled with gutters about "no library stub".

Following imports is useful to get informations about external lib that do provide stubs, but I don't need all the warnings about ones not providing them.

[2016-08-31 09:21] DamnWidget commented on #514
I will redesign how the plugin fires it's jsonserver worker and how it connects to it so you don't get annoyed with the popup when you start ST3 or open a new window containing Python files.

Said that, take into account that is quite weird that you get this warning due slowness in your system, I did test this hundred of times during development in Windows, OS X and Linux and I never got this warn

[2016-08-31 09:30] DamnWidget commented on #522
Can you paste an example of the linting and the messages in the status bar?

[2016-08-31 10:02] sametmax commented on #522
Here is what I get:

![capture du 2016-08-31 12-01-19](https://cloud.githubusercontent.com/assets/1673950/18124484/c0c1db3c-6f72-11e6-8900-5d9510064e9c.png)

[code]

[2016-08-31 12:42] DamnWidget commented on #521
This is resolved and waiting release

[2016-08-31 12:43] DamnWidget commented on #522
I added a new configurable option (enabled by default) `mypy_suppress_stub_warnings` that do what it's name suggest.

Waiting for release

[2016-08-31 12:47] DamnWidget commented on #508
This issue has been fixed already in last version

[2016-08-31 12:47] #508 closed

[2016-08-31 13:44] DamnWidget commented on #481
Hey @karolyi did I released this fix? I am totally unable to remember if I did it or not, I think I did but...

[2016-08-31 15:51] #514 closed

[2016-08-31 15:51] #522 closed

[2016-08-31 15:54] DamnWidget commented on #521
This has been released already

[2016-08-31 15:54] #521 closed

[2016-08-31 17:49] sametmax commented on #522
Just tried it. It works, but seems to shift the position of the next visible warning gutters.

Le 31/08/2016 à 17:51, Oscar Campos a écrit :

[2016-08-31 17:52] sametmax commented on #521
I tried uninstalling mypy from the virtualenv while keeping up at the OS level but it didn't work.

Le 31/08/2016 à 17:54, Oscar Campos a écrit :

[2016-08-31 18:57] alin23 opened #524 "Next lint error raises an exception if current line is larger than last error line"
This happens because lines_list is not initialised at function level:

[code]

[2016-08-31 21:12] randomshinichi opened #525 "Doesn't work anymore, 'module' object has no attribute 'expand_variables'"
[code]

[2016-09-01 00:09] timleslie commented on #514
The fix appears to have solved the problem for me. Thanks for the fast response!

[2016-09-01 00:27] DamnWidget commented on #521
Trust me, if your configured Python interpreter is able to see the mypy
module it has to work. Check your logs to make sure there is no other
problem.

On Aug 31, 2016 6:52 PM, "sametmax" <notifications@github.com> wrote:

[2016-09-01 00:30] DamnWidget commented on #522
The only thing that the option is doing is ignore lines that contains the
stub word it doesn't mess with that it just call continue in a for loop

On Aug 31, 2016 6:59 PM, "sametmax" <notifications@github.com> wrote:

[2016-09-01 00:32] DamnWidget commented on #525
Update your ST3 please, there is no reason at all to being using an
outdated version

On Aug 31, 2016 10:12 PM, "Andrew Chiw" <notifications@github.com> wrote:

[2016-09-01 08:00] DamnWidget commented on #524
A PR has been provided to fix this issue and it is actually waiting for release

[2016-09-01 09:30] karolyi commented on #481
@DamnWidget I'm still getting the same errors. Moreover, I can't start anaconda in debug mode this time. After starting Sublime, I get the following message appearing in an alert window:

[code]

also there is no jsonserver.py process started up.

[2016-09-01 09:31] DamnWidget commented on #489
Hey @pradyunsg, any progress about the issues that you did choose?

[2016-09-01 09:42] DamnWidget commented on #481
My OS X box is locked for undefined time probably the fix is in a local branch on it's hard drive :(. You can start anaconda in debug mode with:
[code]

Can you giive it a try to see if the problem is still the same or if its a new one?

[2016-09-01 10:06] karolyi commented on #481
Something's not right here, but I can't figure out what.

When I start the jsonserver process with the *exact* same parameters as I see in the process list (after I shut down the original one with a kill signal), the autoformatting works.

Only when Sublime starts the jsonserver process in the background, does the autoformatting fail.

If only I could get that already running process to log someho

[2016-09-01 10:07] DamnWidget commented on #481
There should be some log in:
`~/Library/Logs/anaconda/<your_project_name>/`

[2016-09-01 10:10] karolyi commented on #481
got it:

2016-09-01 12:09:39,517: ERROR   : 'ascii' codec can't encode character '\u2b06' in position 109: ordinal not in range(128)
2016-09-01 12:09:39,518: DEBUG   : ['Traceback (most recent call last):', '  File "/Users/laszlokarolyi/Library/Application Support/Sublime Text 3/Packages/Anaconda/anaconda_server/commands/autoformat.py", line 40, in run', "    'vid': self.vid", '  File "/Users/lasz

[2016-09-01 10:43] franklingu opened #526 "exception constantly happening after upgrade: initial check failed"
[code]

1. I am getting this error
2. there is error in the code snippet, it should be:
[code]
and for me there is no exception or anything

[2016-09-01 11:17] kichooo commented on #511
My anaconda plugin also got superslow after update. I'm on ubuntu 16.04

[2016-09-01 11:21] DamnWidget commented on #526
You are not using latest version, update to v2.0.6 and try again (paste the output if you get the same error)

[2016-09-01 11:24] DamnWidget commented on #511
@kichooo can you provide us with logs?

[2016-09-01 11:28] DamnWidget commented on #511
@alexfradiani I am able to run anaconda in OS X I need you to start the anaconda's JsonServer manually in debug mode ans try again. To do so:

* Stop ST3
* Just checkout the master branch in the anaconda git repo
* execute: `<your_python_interpreter> -B ~/Library/Application\ Support/Sublime\ Text\ 3/Packages/anaconda/anaconda_server/jsonsever.py -p anaconda DEBUG`
* Start ST3

If you don't get an

[2016-09-01 11:29] kichooo commented on #511
Quite a few errors in the console, if this is what you mean:

http://paste.ubuntu.com/23119851/

[2016-09-01 11:39] DamnWidget commented on #511
@kichooo create a pastebin (or a gist) with the contents of:
`~/.local/share/anaconda/logs/<your_project_name>/anaconda_jsonserver.log`

[2016-09-01 11:40] kichooo commented on #511
Hello, thank you for your reply.

anaconda catalog doesn't exist in my ~/.local/share

[2016-09-01 11:51] DamnWidget commented on #511
@kichooo try this:

* close ST3
* In a terminal write: `python -B ~/.config/sublime-text-3/Packages/Anaconda/anaconda_server/jsonserver.py -p anaconda DEBUG`
* open ST3 and edit a Python file
* take a look at the directory that I told you before, you will have some output as well in the standard output of the terminal that you ran the command

If anaconda works in that scenario, your `python_inter

[2016-09-01 11:54] DamnWidget commented on #481
@karolyi  can you try the following in your OS X?

* Open a terminal
* write: `python3 -c "print(b'Espa\xc3\xb1a'.decode('utf8'))"`
* write: `PYTHONIOENCODING="utf8" python3 -c "print(b'Espa\xc3\xb1a'.decode('utf8'))"`

Paste here your results

[2016-09-01 11:54] kichooo commented on #511
However funny it sounds it fixed itself with restart. Logs are now properly created and anaconda is super fast again.

It is strange because I think that I restarted before, but maybe one more update sneaked in between?

Anyway, from my side it looks good now, thanks for help!

[2016-09-01 11:55] DamnWidget commented on #511
No problem, glad to hear that is solved.

[2016-09-01 12:00] karolyi commented on #481
hey,

tried it, works both ways. I don't know if this makes a difference, but in terminal:
[code]

and in ST3 console:
[code]

it seems that ST3 starts with US-ASCII charset per default.

[2016-09-01 12:08] DamnWidget commented on #481
Do you think you can join our gitter for a second? https://gitter.im/DamnWidget/anaconda?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

[2016-09-01 13:22] DamnWidget commented on #526
Duplicate of #514

[2016-09-01 13:35] #525 closed

[2016-09-01 13:36] JimAmuro commented on #514
The new version works! Thank you for fixing this!

[2016-09-01 14:58] ZupoLlask commented on #512
@DamnWidget,

`Anaconda Python Builder` is still missing even if I save a ST3 project @ my `Build System` options...

I'm not sure how can I help you replicating this problem...

[2016-09-01 16:11] #481 closed

[2016-09-01 16:13] DamnWidget commented on #512
But is anaconda working at all for you?

[2016-09-01 16:18] DamnWidget commented on #481
You can reinstall the package control version again @karolyi :)

[2016-09-01 16:45] karolyi commented on #481
thx!

[2016-09-02 11:29] wqshen opened #527 "<Anaconda.anaconda_lib.workers.local_worker.LocalWorker object > initial check failed"
this message appears at each Sublime startup, how to fix it?
![failed](https://cloud.githubusercontent.com/assets/12339722/18202544/405cddde-7143-11e6-8bee-9e170cecb325.png)

[2016-09-02 11:54] DamnWidget commented on #527
First of all, did you try to do what the error says?
Second, is anaconda working normally after show that error?
Third, which version of anaconda are you actually using?
Operating System? Sublime Build? Logs?

Is really hard to help someone what doesn't provide any kind of information, don't you think so?

[2016-09-02 15:20] RafaAguilar commented on #527
Hi @DamnWidget, I'm having same error on on Linux, I followed the steps and check the `anaconda.sock` file was created and a Python process is running:
[code]

And there is a sock file:

[code]

The only thing I see different is the _equal_ (`=`) at the end, but don't know if this is expected.

[2016-09-02 16:03] ZupoLlask commented on #512
Yes, it is.

Auto completition, code linting, imports validation...

Problem is Anaconda's Build System is missing.

[2016-09-02 18:05] alin23 opened #528 "Command next_lint_error fails on specific cases"
### Error on the first line ###

If there is an error on the first line, `next_lint_error` doesn't get to any other error below because of the following condition:
[code]
When `cur_line` is 0, the condition is evaluated as `False` and the branch doesn't execute.

#### Solution ####
Change `if cur_line` to `if cur_line is None`.

### Python `set` doesn't guarantee order ###

In specific cases the f

[2016-09-03 12:13] ZupoLlask commented on #512
Is there any install log which I can send you so I can help you debugging this?

[2016-09-03 12:46] traversw commented on #527
I'm on the latest version of Anaconda (2.0.7) and also getting the error @wqshen posted when I start up Sublime Text with a python file open in the editor.  After the first error, the problem goes away and Anaconda works fine.

This from my anaconda_jsonserver.log.  Not sure if it's related.

2016-09-03 14:39:49,437: DEBUG   : bind: address=('localhost', 49677)
2016-09-03 14:39:49,437: DEBUG   : l

[2016-09-05 08:21] DamnWidget commented on #527
Duplicate of #514

This happens because your systems, for whatever reason, are not able to connect to localhost during 2 seconds for N tries with 0.2s timeout each, that is abnormal, your systems would be able to connect to the loopback interface/unix socket domain in less than 0.2s always. In fact I have never been able to replicate this issue even using a timeout of 0.001s.

About the error that

[2016-09-05 11:50] linjunshi opened #531 "Anaconda doesn't work"
It report numerous syntax error when it's actually a valid syntax, I've tried to change the default interpreter to python3 but it does't work, and intellisense doesn't work either.

[2016-09-05 12:04] DamnWidget commented on #531
If it reports syntax errors is because there are syntax errors, make sure you are not mixing spaces and tabs, go line by line and read the description of the error in the status bar.

[2016-09-05 20:56] adrn commented on #306
I'm seeing this issue on Build 3114 -- it seems to make my autocomplete popup appear sporadically and long after I needed it. Was there any solution?

[2016-09-05 20:59] adrn opened #532 "IndexError: list index out of range on ST3 and slow/buggy autocomplete"
I'm seeing the same behavior as in #306 :

[code]

At the same time that the error is thrown, the autocomplete popup will appear and refresh repeatedly (glitch) next to my cursor position. This makes it extremely irritating to try to use the autocomplete.

[2016-09-06 00:36] DamnWidget commented on #532
Make sure that you are not using SublimeJedi and Anaconda at the same time.

If you're not using them at the same time, paste the anaconda jsonserver logs into a gist and share it please.

[2016-09-06 02:13] linjunshi commented on #531
![image](https://cloud.githubusercontent.com/assets/14053321/18259707/5380b55e-742a-11e6-8197-201695606258.png)

I didn't use tabs, its syntax is valid and I can run it, but anaconda just shows me 'line too long'
![image](https://cloud.githubusercontent.com/assets/14053321/18259749/d03a58c0-742a-11e6-8b91-a22cd504e1a4.png)

and missing whitespace after ','
![image](https://cloud.githubusercontent.

[2016-09-06 07:43] DamnWidget commented on #531
Well, that is what we know as a [PEP8](https://www.python.org/dev/peps/pep-0008/) syntax violation warning, PEP8 warnings are not syntactical errors but warnings about you not following the Python conventions for writing code that the whole community put effort into.

PEP8 is important because it makes possible for any Python programmer in the world (that follows and knows about the PEP8) to quick

[2016-09-06 12:30] linjunshi commented on #531
@DamnWidget
I'm so sorry, I apologise for saying that the warnings are unnecessary because I didn't know about the pep8 and some conventions in python community.
I've changed the interpreter to python3 but it's still unable to get those functions from pandas and numpy.

[2016-09-06 12:54] DamnWidget commented on #531
Don't need to apologise, pandas and numpy are known to have some problems with Jedi the underlying library that we use to get autocompletion probably is related to that.

[2016-09-06 13:01] AllanLRH opened #533 "Lint description/message not always shown"
Sometimes Anaconda will only show a lint error code, and leave out the description. Would be handy to always see the linter message.
See this example screenshot:
![screen shot 2016-09-05 at 16 11 58](https://cloud.githubusercontent.com/assets/2641327/18274433/abc23fae-7442-11e6-8f3e-4ac731d8dbbd.png)

[2016-09-06 13:41] kiddick commented on #106
Again faced with that issue.

[2016-09-06 15:58] DamnWidget commented on #533
Can you run "Show linter errors"? It looks like another plugin is eating the error description from the status bar.

[2016-09-06 20:43] AllanLRH commented on #533
It just says _14_.
When I run pep8 in the file in terminal, the line in question returns `nbiprintSupportFunctions.py:12:16: E127 continuation line over-indented for visual indent`.

In this screenshot I've disable he _Git_ plugin in order to make some more room in the status bar.

![screen shot 2016-09-06 at 22 40 31](https://cloud.githubusercontent.com/assets/2641327/18290293/4582a71a-7483-11e6-

[2016-09-08 07:25] tanpv commented on #527
---------------------------
Sublime Text
---------------------------
<Anaconda.anaconda_lib.workers.local_worker.LocalWorker object at 0x000001EA4B464FD0> initial check failed because:

connection to localhost:51568 timed out after 0.2s. tried to connect 7 times during 2 seconds

check that there is Python process executing the anaconda jsonserver.py script running in your system. If there is, che

[2016-09-08 07:49] danielgusland commented on #527
+1 for this issue. I'm running windows 10  64 bit.

[2016-09-08 08:52] pradyunsg commented on #489
Nope. No progress. The pip issue took waaay too long and still isn't over. :disappointed: And I then got low on time. Anyway, I'll to tackle them today or in the weekend.

[2016-09-08 09:02] DamnWidget commented on #489
No worries, there is no rush I was just checking old issues so I had to ask

[2016-09-08 09:15] pradyunsg commented on #489
Thanks for the reminder.

[2016-09-09 08:41] gitfred opened #534 "Anaconda treats PEP448 (new unpacking) in py3.5 as syntax error"
![screen shot 2016-09-09 at 10 39 43](https://cloud.githubusercontent.com/assets/2721405/18380937/0252db74-767a-11e6-9b61-2945c347e981.png)

[2016-09-09 09:08] DamnWidget commented on #534
Did you configured a Python >= 3.5 interpreter to work with?

![pep448](https://cloud.githubusercontent.com/assets/329766/18381679/52efda14-7675-11e6-8522-f058b771f030.png)

[2016-09-09 09:27] Tomvass commented on #527
I had this issue over the past few days and managed to fix it by changing my build system to the default Anaconda Python Builder. Running the command in the sublime terminal `import socket; socket.socket(socket.AF_INET, socket.SOCK_STREAM).connect(("localhost", 51017))` was working fine but I forgot to change my build system from javac back to python.

[2016-09-09 09:36] DamnWidget commented on #533
I could replicate this, seems like there is line truncation in other PEP8 messages as well. Btw yeah, I meant that anaconda command, is hard to remember everything in a huge project like this one.

[2016-09-09 09:37] gitfred commented on #534
it's configured properly. But you know, I realized that use it in multiple places and only this one shows syntax error. Wierd... I will close the issue and try to figure it out and then possibly reopen the issue

[2016-09-09 09:37] #534 closed

[2016-09-09 09:39] DamnWidget commented on #527
Interesting... I am not sure what the build system has to do with anaconda JsonServer startup but I will make some deeper investigation as this piece of information from @Tomvass  looks like can lead us to find some kind of weird hidden bug into the new anaconda's startup logic.

[2016-09-09 09:40] DamnWidget commented on #534
I see, don't hesitate to open it again if you find what could be causing the anomaly.

[2016-09-09 09:49] Tomvass commented on #527
No idea, could just be a quirk with my system and not directly related to this issue but matched mine closely enough. Always got the error on startup and Autoformat PEP8 was failing with the following:

INFO:Anaconda.anaconda_lib.callback:Calback 1219acd2d0944a78acc8068ff40ab411 came back with data but it's status was `timed_out` already

Changing my build system now doesn't seem to be able to rep

[2016-09-09 09:53] DamnWidget commented on #532
Any update here?

[2016-09-09 09:55] DamnWidget commented on #511
Can we close this?

[2016-09-09 11:33] adrn commented on #532
I can't find the jsonserver logs -- any idea where those might be on OSX?

[2016-09-09 11:35] adrn commented on #532
(`find ~ -iname "jsonserver"` returned nothing)

[2016-09-09 11:36] DamnWidget commented on #532
You can find them in [this section](https://github.com/DamnWidget/anaconda#anaconda-behaves-slowly-and-jsonserver-crashes) of the README

[2016-09-09 11:38] adrn commented on #532
Thanks -- here's the full log: https://gist.github.com/adrn/18bb2a5ca0667d3d870c05e8f3d306ba

[2016-09-09 11:42] DamnWidget commented on #532
I see nothing weird in the logs, did you try to remove the ST3 cache?

[2016-09-09 11:46] adrn commented on #532
I'll give that a try -- is this the only relevant path?
`~/Library/Application\ Support/Sublime\ Text\ 3/Cache/`

[2016-09-09 12:15] DamnWidget commented on #532
I think so but take a look at `~/Library/Application\ Support` as well

[2016-09-09 14:12] DamnWidget commented on #533
Discover what was going on with this one has been a pain. The culprit was `autopep8` that we use to automatically format the buffer.

Seems like `autopep8` overrides some `pep8` check functions by it's own, there was a disconformity in how our version of `autopep8` decided to report back errors to `pep8`. I just upgraded both `pep8` and `autopep8` libraries to match their formats.

Pending for rel

[2016-09-09 14:46] DamnWidget commented on #527
I did some deeper investigation into this and there is no link between the build system and some people systems being slow enough to connect their localhost as to raise this error.

I just added a new configuration setting that anyone could use to disable the startup warnings (they still get logged into the ST3 console).

[code]

As the note in the comment says, use it at your own discretion. It w

[2016-09-10 04:13] MatthewGieger opened #535 "Autocomplete Fails if whitespace before module docstring."
It took me hours to realize this, but if i have a space before my module doctoring, the autocomplete features of Anaconda don't work in the rest of the file.  It's definitely something i can work around, but i thought i'd report it anyway. Autocomplete works flawlessly otherwise. See images below (notice the whitespace before the module doctoring in the first image).
<img width="145" alt="whitespa

[2016-09-10 11:34] #528 closed

[2016-09-10 11:58] #533 closed

[2016-09-10 12:15] DamnWidget commented on #535
I did look really fast at this issue and could replicate it, so weird. I will look into it in deeper detail as soon as I have some free time.

[2016-09-10 12:19] DamnWidget commented on #535
Well, I already resolved it, It will be inlcuded in v2.0.9

[2016-09-10 12:28] #526 closed

[2016-09-10 12:30] DamnWidget commented on #512
Are you working into a Sublime Text 3 Project?, Anaconda creates the `Anaconda Python Builder` entry only if you are working in a project (as it creates the entry at your project level)

[2016-09-10 13:25] MatthewGieger commented on #535
Wow! That was fast! Thanks!

If you don't mind me asking, what was causing that weird behavior?

[2016-09-10 13:25] #535 closed

[2016-09-10 13:39] DamnWidget commented on #535
Jedi (the underlying completion library) is not able to parse the source if there is one or more leading whitespaces at the beginning of the file and the first node in the AST is a comment.

[2016-09-10 13:46] ZupoLlask commented on #512
It is missing even if I create a ST3 project...

[2016-09-10 13:47] ZupoLlask commented on #512
I'll grab some screenshots so we can make sure we are in the same page.

[2016-09-10 13:56] adrn commented on #532
(I deleted the cache and am just waiting a day to see how things go)

[2016-09-11 14:14] adrn commented on #532
That doesn't seem to have worked. I've uploaded a screencast of the error happening and the triggered console Errors:
https://www.youtube.com/watch?v=i5zOs-LNN0E

[2016-09-11 20:49] ArtemBernatskyy opened #536 "Spelling error"
In help text in words "not show you this error anymore setti`N`g "
[image](https://vk.com/doc344585549_437870694?hash=577dc30735512f508d&dl=099c933dc95d2ec5dd)

[2016-09-12 08:20] DamnWidget commented on #532
Anaconda should not try to  fire auto completion at all when you type the colon symbol (if you didn't configured your ST3 to fire auto completion on colon for Python code). Are you sure that you don't have any other completion plugin active that is interfering with anaconda? A typical suspect is SublimeCodeIntel that is known for interfere with other completion plugins.

The problem that you show

[2016-09-12 14:41] irfus commented on #517
Seeing the same issue here. Works with the absolute path to the virtualenv python binary, but not with "$VIRTUAL_ENV/bin/python". I'm using ST3 Build 3114 and the latest Anaconda release from Package Control.

[2016-09-13 18:01] tamakisquare opened #537 ""Your operating system denied the spawn of vagrant process" error"
Prior to v2.0, I had been a happy camper with Anaconda's support for Vagrant with the setup of jsonserver in the vagrant guest machine.

Yesterday, I replaced all that with the new setup for v2.0+. Unfortunately, I haven't been able to get it working.

My project setting:
[code]

My Vagrantfile:
[code]

Below is what I see in the Sublime Text 3 console after opening up my project, while the Vagran

[2016-09-13 18:07] DamnWidget commented on #537
Looks like the `vagrant` app is not in your PATH, try to start ST3 from the command line using `subl` command.

[2016-09-13 19:33] adrn commented on #532
It's not the semicolon that triggers it -- if I had just gone to a newline, the autocomplete window would still appear. I don't have any other autocomplete plugins installed, to my knowledge. These are the packages I have installed:

"Anaconda",
"AutoWrap",
"Base16 Color Schemes",
"Cython",
"Evernote",
"GitGutter",
"LaTeXTools",
"Markdown Preview",
"MinimalFortran",
"Package Control",
"Python 3",

[2016-09-13 19:49] Gabriel-p commented on #527
Same here:

[code]

I'm using `pyenv+virtualenv` and I get this quite often. After restarting sublime the pop-up does not show again.

[2016-09-13 20:36] DamnWidget commented on #532
Well, I don't know what is it but something is firing ST3 auto-completion and it is not anaconda, anaconda doesn't ever fires autocompletion by himself, it rather hooks himself into regular ST3 autocompletion event that is normally triggered by ST3 itself.

[2016-09-14 14:56] plamen-nikolov opened #538 "Autocompletion breaks Sublime Text 3 build 3121"
I just updated Sublime Text 3 to build 3121 and it's started crashing when I type **self.** (Python). I tried to reproduce the error many times and also to disable all packages one by one and it turned out the issue is with Anacoda.

[2016-09-14 15:12] DamnWidget commented on #538
I don't exactly know how did you got to that conclusion but you are wrong.

![st3121](https://cloud.githubusercontent.com/assets/329766/18517809/7fcdbb04-7a95-11e6-857d-aba43f5086cc.png)

As you can see in that screenshot (the code is being linted by anaconda 2.0.8) I am using the last ST3 nightly build without any kind of problem.

Disable all packages but anaconda and try again, if you still hav

[2016-09-14 23:18] tamakisquare opened #539 "Sublime Text seems to be having trouble reaching my vagrant machine"
Continuing from after #537 is resolved.

Now that I have made `vagrant` available in my PATH for Sublime Text 3, I am facing a different problem. The errors that I get, however, are different depending on whether my vagrant machine is already running.

In the case that the vagrant machine is already running, when I open my sublime project, I get two of the same prompt that reads

Note *rose* is th

[2016-09-14 23:21] tamakisquare commented on #537
@DamnWidget - I think this is it. `vagrant` is now recognized by Sublime Text. Thanks.

But now I have another issue after passing this point. #539

[2016-09-14 23:21] #537 closed

[2016-09-15 07:19] plamen-nikolov commented on #538
That's what I did. I disabled ALL other packages and then tried to enable/disable Anaconda it always happens the same way. Anyways, Sublime Text 3 build 3122 fixes the issue and still have no idea how Anaconda triggers that crash. Thanks

[2016-09-15 07:19] #538 closed

[2016-09-15 07:35] DamnWidget commented on #538
probably the problem was in ST3 and not in anaconda :)

[2016-09-15 07:49] DamnWidget commented on #539
I think I know what the problem is, you have two options to solve it until I fix this and release the fix (it will wait a while as I am currently working in the Golang plugin for anaconda).

One of the ways is tedious and requires you to hack into anaconda's in memory data structures so let's go with the manual method better.

* Start your VM manually before to start editing your Python files for

[2016-09-15 15:58] AndreasBackx opened #540 "Replace non-breaking spaces in Autoformat PEP8 errors"
I often accidentally type a non-breaking space on my machine with alt+space which I don't see (because it of course looks exactly like a space character) and it causes some problems and frustration to find and usually end up rewriting the line on which I see the error (often `[E] Invalid character in identifier,`). It would be awesome if Anaconda would be able replace these with normal spaces as t

[2016-09-15 18:34] DamnWidget commented on #540
Well, that is not a PEP8 error so I don't see how the auto pep8 formatter would be responsible of fix such thing, anyway you can make a small pulg-in in your own to solve that problem, follow this steps (I didn't test it myself but it will work just fine)

# Create Small Python File
In `~/Library/Application\ Support/Sublime \Text\ 3/Packages/User` create a file called `nbsp.py` with the following

[2016-09-15 19:30] AndreasBackx commented on #540
Cool, thank you. I assumed that it wasn't really be a PEP8 error, I just thought it would be handy but totally understand because I'm probably one of the only ones with this problem because of my keyboard layout. Thank you for taking the time to reply, this can be closed.

[2016-09-15 19:30] #540 closed

[2016-09-15 19:35] DamnWidget commented on #540
Did it work @AndreasBackx ?

[2016-09-15 20:29] AndreasBackx commented on #540
@DamnWidget I did not use your code example. I have simply replaced all non-breaking spaces and am using the keymap I posted from now on. Thank you again though.

[2016-09-16 13:49] trojkat commented on #539
@DamnWidget
This workaround is not fully working, because I see some requests on `minserver.py` console, but there is integration with my virtual env.
[code]
How to run minserver to access virtual env? I'm running:
[code]

[2016-09-16 14:18] DamnWidget commented on #539
@trojkat
Start the minserver with
`/src/my_env/bin/python -B /anaconda/anaconda_server/minserver.py -p my_project -e /src/my_project 19360`

[2016-09-16 14:22] trojkat commented on #539
Lol, now everything works even without workaround, I just restarted ST3...

[2016-09-16 22:24] tamakisquare commented on #539
@DamnWidget - The workaround works great. Thank you. Tag me when you have the patch in place and I'll help with verifying it. Cheers.

[2016-09-17 03:13] xuyuheng commented on #504
The macOS has same problems!

[2016-09-19 11:00] nMustaki opened #541 "Integrating prospector"
Hello,

first thanks for Anaconda, it saves my life daily :-)
I would like to integrate [Prospector](http://prospector.landscape.io/en/master/index.html) into Anaconda, would be interested ? If so I'll open a pull request.

Thanks,
Nathan

[2016-09-19 11:17] DamnWidget commented on #541
Hi
It looks that prospector is doing pretty much the same that anaconda already do trough it common linters, said that, I have no problems in add this as alternative linter as far as you continue supporting it and taking care of it, that means, integrate new versions, fix any issue, solve problems and give support here in the issues to users that could use it.

Apart from that any new tool needs u

[2016-09-19 19:03] adrn commented on #532
OK I think I have some more info. It doesn't appear to be an extra firing / triggering of auto-complete, but rather a lag in the appearance of the autocomplete popup. Here's [another video that probably explains it better](https://www.youtube.com/watch?v=RUQw8XkJDz8).

[2016-09-19 20:07] DamnWidget commented on #532
Do you have any errors at all in your ST3 console? That is a ST3 regular completion popup it does not appears to be enrich with anaconda auto completion.

[2016-09-19 21:29] nMustaki commented on #541
​
Hi,

your comments got me thinking that I should try to modify my pylintrc before adding complexity to Anaconda; I'll go this route and if that's not enough I'll come back.

Thanks again !

[2016-09-19 21:29] #541 closed

[2016-09-20 23:08] ParthKolekar opened #542 "Linter fails when it sees a possible keyword"
# initial classification
    classified_correctly = map(lambda x: False, dataset)

Anaconda thinks that the above is a class declaration and tells me to put a space before and after the declaration.

[2016-09-22 13:39] h-li opened #544 "linter fails when use "global""
[code]

[code]

[2016-09-23 15:23] qmmp123 opened #545 "Completion inherited method in class"
Good day!

I've took a look, that name of inherited method is not complete in child class.I mean, that I redefine method from parent class in child class and name of this method not completed. I think, that it is issue of anaconda, because when I've type self. after dot I got list of methods of the current class with inherited. And it seems, that getting names on redefining the method of parent cl

[2016-09-24 22:38] DamnWidget commented on #542
As I already explained in the PR, that is an external library so this should be addresses [https://github.com/PyCQA/pycodestyle/issues](there)

[2016-09-24 22:49] DamnWidget commented on #544
Seems to be a problem in PyCodeStyle itself, I just ran it manually in a file with that contents and it didn't returned any error back, flake8 do it.

Do you think you can send a report for this in the [PyCodeStyle project](https://github.com/PyCQA/pycodestyle/issues) itself?

[2016-09-25 12:55] #544 closed

[2016-09-25 12:55] #536 closed

[2016-09-25 13:13] DamnWidget commented on #545
I can't replicate this for variables

![issue_545_1](https://cloud.githubusercontent.com/assets/329766/18815458/1c71b32e-832a-11e6-86b0-0d6928e22b30.png)

Or for methods
![issue_545_2](https://cloud.githubusercontent.com/assets/329766/18815457/1c7079d2-832a-11e6-9cf6-5c87ad0a557b.png)

[2016-09-25 15:47] sergei-maertens opened #546 "Anaconda stops working"
* ST 3123
* Project configured with `python_interpreter` set to virtualenv python (3.5)
* Initially autocomplete, docstrings etc. work, clicking through to object definitions is fine
* After a while Anaconda seems to freeze, logs don't give any useful information - except that new connections seem to be incoming (see attached [anaconda.txt](https://github.com/DamnWidget/anaconda/files/491740/anaco

[2016-09-25 16:25] DamnWidget commented on #546
Stop ST3, open a terminal and start anaconda server in DEBUG mode with:
[code]

[2016-09-25 16:26] sergei-maertens commented on #546
Will do, thanks!

On Sep 25, 2016 18:25, "Oscar Campos" <notifications@github.com> wrote:

[2016-09-25 17:36] crc32 commented on #527
import socket; socket.socket(socket.AF_INET, socket.SOCK_STREAM).connect(/Users/crc32/Library/Application Support/Anaconda/anaconda-2/anaconda.sock)
                                                                             ^
SyntaxError: invalid syntax

The carat is pointing at the first / in the directory.

Since receiving that error, Anaconda does not function in any way.

I've checked, and t

[2016-09-25 17:41] DamnWidget commented on #527
Is there any anaconda Python JsonServer in the system? (`ps aux | grep jsonserver`). Try to stop ST3 and kill any stuck anaconda's JsonServer then start ST3 again.

Looks like the Unix Domain Sockets are giving us some logistical problems, probably we will get rid of them in next releases.

[2016-09-25 17:43] crc32 commented on #527
Entirety of output of 'ps aux | grep jsonserver':

'UserXXX           68849   0.0  0.0  2432804   1984 s000  S+    1:41PM   0:00.00 grep --color=always jsonserver'

Nope, there do not appear to be any jsonserver processes running.

[2016-09-25 18:18] jaydenkieran commented on #527
I've gotten this issue a lot over recent versions of Anaconda, I didn't get it up until a few weeks ago. Works completely fine after closing the dialog box. Setting `swallow_startup_errors` to true doesn't actually seem to do anything to stop it from displaying the error too, which is odd.

[2016-09-26 13:16] urvil commented on #527
please find below the solution if you are using python34(3.4) or above.
check your python version: goto command prompt and type "python" hit enter and the first line you get is your python version.

1. goto path "C:\Users\user-name\AppData\Roaming\Sublime Text 3\Packages\Anaconda\anaconda_lib\linting\pyflakes"

2. Open file named checker.py

3. search for word LOOP_TYPES in the file(probably in fi

[2016-09-26 13:55] boris-kirvas opened #547 "How do I turn off PEP8 for Anaconda?"
How do I turn off PEP8 checks for Anaconda in ST3?
I love everything in Anaconda but this.

[2016-09-26 14:51] DamnWidget commented on #547
As it says in the official documentation about [disabling pep8 linter](http://damnwidget.github.io/anaconda/IDE/#disabling-certain-errors-for-pep257)

[2016-09-27 09:21] qmmp123 commented on #545
i want to get completion after def in class B
![screenshot_20160927_171744](https://cloud.githubusercontent.com/assets/6360702/18867433/b53f92d2-8493-11e6-8196-0597b0d83365.png)

[2016-09-27 19:17] QasimK commented on #432
I am experiencing this issue.

I have a Django project and I am using a virtualenv. It detects invalid imports from Django just fine. However, inside one of my own packages in my repository, it does not detect the relative import as being okay. Here is a picture (focusing on the problem):

![anabad](https://cloud.githubusercontent.com/assets/10064144/18888226/5297b0e0-84ef-11e6-87af-a49de9cbb63a.p

[2016-09-29 19:31] flux627 opened #548 "Bad UX with reading violations"
Right now (unless I am mistaken), then only why to find out what the exact linting error is is to use the "Show Error List" command, which gives you line numbers that you need to then manually correlate back to each gutter mark. Wouldn't it be a much better experience to be able to see what the gutter mark is there for without having to pull up the errors list?

If gutter marks are turned off, the

[2016-09-29 20:49] DamnWidget commented on #548
If you move the cursor to the offending line you get a full description about the problem in the status bar

[2016-09-29 23:02] #547 closed

[2016-09-29 23:08] DamnWidget commented on #545
Well, Jedi, the library that we use to offer auto completion has no way to infer the context from the location of the cursor in the file when the auto-completion event is fired by Sublime Text 3. Jedi always needs a string to perform the search trough the Python abstract syntax tree.

I will think in a way to try to infer that context from anaconda itself and then pass a modified buffer to Jedi so

[2016-09-29 23:09] #542 closed

[2016-09-29 23:09] #531 closed

[2016-09-29 23:10] DamnWidget commented on #524
This is resolved already, closing it

[2016-09-29 23:10] #524 closed

[2016-09-30 15:20] jeffery9 commented on #527
sublime text build 3126
anaconda 2.10
python 2.7.11

show this error every startup sublime text.   the following error logged in log file.

  File "C:\Users\w541\AppData\Roaming\Sublime Text 3\Packages\Anaconda\anaconda_server\jsonserver.py", line 337, in <module>
    server = JSONServer(('localhost', port))
  File "C:\Users\w541\AppData\Roaming\Sublime Text 3\Packages\Anaconda\anaconda_server\jso

[2016-09-30 16:13] DamnWidget commented on #527
That looks like Windows TCP/IP port exhaustion. Do you know how many instances of anacondas's JsonServer were in the system? Btw, which windows version?

[2016-10-01 03:57] jeffery9 commented on #527
windows 10 64 bit.
have no idea how to detect how many jsonserver instance running. thanks.

On Sat, Oct 1, 2016 at 12:13 AM, Oscar Campos <notifications@github.com>
wrote:

--
Jeffery        -odoo expert form kunshan, suzhou, china
IM Q913547235

[2016-10-01 11:21] DamnWidget commented on #527
It's like your Windows ran out of socket descriptors, in the logs we can see that anaconda is operating normal just linting your code after a lint request so the connection is already established but there is another JsonServer starting up for the same project/folder name.

Are you sure you didn't had two different Sublime Text 3 windows opening the same project/folder?

To check in windows about

[2016-10-02 03:06] jeffery9 commented on #527
there is only one window, but running two process.

On Sat, Oct 1, 2016 at 7:21 PM, Oscar Campos <notifications@github.com>
wrote:

--
Jeffery        -odoo expert form kunshan, suzhou, china
IM Q913547235

[2016-10-02 03:23] jeffery9 commented on #527
Even open workspace with only one folder which running one sublime
process.  It also raise jsonserver error.

On Sun, Oct 2, 2016 at 11:06 AM, Jeffery <jeffery9@gmail.com> wrote:

--
Jeffery        -odoo expert form kunshan, suzhou, china
IM Q913547235

[2016-10-03 02:48] adrn commented on #532
The only error I get is the one I copied in the original issue message. I can't figure this one out. However, this issue is related to Anaconda. If I disable Anaconda, the autocomplete works normally and doesn't lag as it does in the video I posted in the previous comment.

[2016-10-03 22:32] MordechaiMaman opened #549 "ipython support"
I failed to use anaconda in the first place so I debugged it and I noticed that when anaconda does not have the property 'python_interpreter' it find it out automatically.
So far so good, but when it decide that my 'python_interpreter' is ipython the troubles begin...
The 'jsonserver.py' can't start due to wrong parameters to ipython such as -B and -p.

My solution of course was to change the 'pyt

[2016-10-04 23:11] artusic commented on #342
I realise this thread is pretty old, but I'm seeing this behaviour recently. It didn't start happening until we moved to testing Ubuntu 16, though I have no idea what about that would have triggered it.

The only thing I've managed to do is get to the settings file when the CPU is pegged, and disabling/re-enabling anaconda seems to reset it. There's nearly no info in the console or the shell, and

[2016-10-05 00:18] DamnWidget commented on #342
Probably is the auto format in save, try to disable it. I will take a look at this problem as I also found this problem in anaconda_go

[2016-10-05 09:05] ayushjaiswal commented on #527
I'm facing the same problem on both my systems running macOS Sierra. Setting "swallow_startup_errors" to true doesn't help either.

[2016-10-05 09:58] jaydenkieran commented on #527
I wouldn't mind so much about this 'issue' (Anaconda works fine after the error) if `swallow_startup_errors` actually worked, as mentioned above. It doesn't actually do anything.

[2016-10-05 10:40] DamnWidget commented on #527
That's weird @jaydenkieran and @ayushjaiswal as you can see in [the code](https://github.com/DamnWidget/anaconda/blob/master/anaconda_lib/workers/worker.py#L57-L59) if `swallow_startup_errors` is `true` that line of code that contains the `sublime_message` trigger will not be executed.

[2016-10-05 11:49] jeffery9 commented on #527
setting swallow_startup_errors  to   true  is not worked for me too.

On Wed, Oct 5, 2016 at 6:40 PM, Oscar Campos <notifications@github.com>
wrote:

--
Jeffery        -odoo expert form kunshan, suzhou, china
IM Q913547235

[2016-10-05 12:36] DamnWidget commented on #549
Well, ipython is not a Python interpreter but an Interactive Python Shell or a REPL so is not possible at all to support it as a python interpreter

[2016-10-05 12:46] DamnWidget commented on #527
Try with 2.1.1 please

[2016-10-05 13:17] jeffery9 commented on #527
​moved to 2.1.1, it ok now

thanks.

On Wed, Oct 5, 2016 at 8:46 PM, Oscar Campos <notifications@github.com>
wrote:

--
Jeffery        -odoo expert form kunshan, suzhou, china
IM Q913547235

[2016-10-05 16:04] DamnWidget commented on #549
There is no such function, the `python_interpreter` is just a configuration field, anything can be written off in there, by default it is `python` if it is not set and supposing that the user have a `python` binary her `$PATH` it will provide always a valid python interpreter.

The idea behind the `python_interpreter` to be configurable is to be able to set other interpreters different than the sy

[2016-10-05 16:07] #548 closed

[2016-10-05 16:08] DamnWidget commented on #546
Any update here?

[2016-10-05 16:08] #501 closed

[2016-10-05 16:21] sergei-maertens commented on #546
Not yet, I haven't been working much yet, was only just back from vacation.

On Oct 5, 2016 6:08 PM, "Oscar Campos" <notifications@github.com> wrote:

[2016-10-05 17:49] ayushjaiswal commented on #527
I moved to 2.1.1 too and it works fine for me also.

[2016-10-05 18:57] Gabriel-p commented on #527
I can confirm, I'm not seeing the pop-up anymore.

[2016-10-05 21:23] artusic commented on #342
That's only controlled by the "auto_formatting" setting, correct? I've never enabled that feature so I don't think that's contributing here.

I do have my "anaconda_linter_delay" set very low (0.05), is it that a possible candidate? I've removed my user override for now to see if that changes anything.

Thanks for the response!

[2016-10-05 21:31] DamnWidget commented on #342
I don't think linters could be the culprits here, they are fast and light enough, but 0.05 is probably too low. You can always take a look at your system processes when this happens again to see which processes are consuming your resources.

[2016-10-06 03:25] ibnbay99 commented on #527
i installed version 2.1.1, but still have an error... :(

[2016-10-06 07:45] DamnWidget commented on #527
@ibnbay99 which error?

[2016-10-06 10:07] kindlychung opened #550 "Anaconda autocompletion flickers the screen."
Here is a [video](https://www.youtube.com/watch?v=EXOvtVvqI-Q&feature=youtu.be).

[2016-10-06 19:46] DamnWidget commented on #550
Disable/Uninstall SublimeJedi and/or Disable SublimeCodeIntel for Python while using anaconda

[2016-10-07 01:08] ibnbay99 commented on #527
same error as first question....
![anaconda](https://cloud.githubusercontent.com/assets/21232045/19175914/2ead1eae-8c65-11e6-98b0-36f103354997.png)

[2016-10-07 02:02] Gabriel-p commented on #527
@ibnbay99 did you set the `swallow_startup_errors` setting  to  `true`?

[2016-10-07 02:07] ibnbay99 commented on #527
after set swallow_startup_errors setting to true, i haven't yet get the error.
I will update if still show an error.... thanks... @Gabriel-p

[2016-10-07 08:01] rawler opened #551 "Python3.5: async def in module scope is linted as error"
Minimal code to reproduce:
[code]

[2016-10-07 10:01] DamnWidget commented on #551
Are you using a Python3.5 interpreter in your 'python_interpreter'
configuration settings?

On Oct 7, 2016 9:01 AM, "Ulrik Mikaelsson" <notifications@github.com> wrote:

[2016-10-07 10:16] rawler commented on #551
Haha. Nope!

[2016-10-07 10:16] #551 closed

[2016-10-07 11:16] DamnWidget commented on #551
[![Nod of approval](http://4.bp.blogspot.com/-9QjARWd5a84/T3OXHJJbe1I/AAAAAAAAA34/OVtLNvwpMvI/s190/nod-of-approval.gif)](http://4.bp.blogspot.com/-9QjARWd5a84/T3OXHJJbe1I/AAAAAAAAA34/OVtLNvwpMvI/s190/nod-of-approval.gif)

Glad to know

[2016-10-07 12:58] #494 closed

[2016-10-07 13:32] DamnWidget commented on #489
@pradyunsg https://github.com/DamnWidget/anaconda/projects

[2016-10-07 14:00] DamnWidget commented on #318
@DanielPaikoffVSolvit, @nfantone, @gukoff, @fishtek, @leiserfg and @mrmachine has been more than one year now since the last entry on this issue.

Any updates here or can I close it?

[2016-10-07 14:00] #321 closed

[2016-10-07 14:06] gukoff commented on #318
Nope.

[2016-10-07 14:15] DamnWidget commented on #318
Nope as no updates? or
Nope as no more problems? or
Nope as no do not close it?

[2016-10-07 14:17] gukoff commented on #318
Nope as I switched to PyCharm and can't tell anything about the issue anymore :) Looks like "no updates".

[2016-10-07 14:19] DamnWidget commented on #318
PyCharm? really? I always found it slow as hell. Ok, no updates for you :+1:

[2016-10-07 15:22] DamnWidget opened #552 "MagicPython disables some anaconda's features"
It looks like when MagicPython is being used to highlight Python syntax, some anaconda's features stop working like for example auto completion.

[2016-10-07 15:27] DamnWidget commented on #552
Is not like it gets disabled is just that Python.sublime-settings have no effects when MagicPython is being used

[2016-10-07 15:27] #552 closed

[2016-10-07 15:44] nfantone commented on #318
@DamnWidget Similar situation here. Haven't used Anaconda in a while, so I can't really say. But it should really be you the one testing this out, instead of reviving a one and a half year old issue.

[2016-10-07 16:05] DamnWidget commented on #318
@nfantone how do you think I should test an issue that I was never able to reproduce myself?

[2016-10-07 16:54] nfantone commented on #318
@DamnWidget Many ways: install package in another distro, or in a clean VM or vagrant machine, try it in a different OS altogether, use it in a friend's computer, try different versions and compare heap size, attempt to execute `jsonserver.py` on its own and see if you can spot anything, debug it, leave it running during the night, use a profiler.

Seriously. Many, many ways.

[2016-10-07 17:08] DamnWidget commented on #318
I do that in every single release but thank you for your suggestions very appreciated :+1:

Closing this and marking it as no replicable

[2016-10-07 17:08] #318 closed

[2016-10-07 23:45] lovette commented on #527
I recently started to get this popup and Console errors message too. I removed and re-installed the Anaconda package and it did not help. There is no `jsonserver.py` running and there is no `/Users/.../Library/Application Support/Anaconda/.../` directory. If I enable `swallow_startup_errors` will Anaconda start working eventually? Or is something else wrong with my ST install? I'm still on El Capi

[2016-10-08 00:10] Gabriel-p commented on #527
What do you mean by *will Anaconda start working eventually*? Does Anaconda not work after the error is presented (and dismissed) in your case?

If I understand correctly, setting `swallow_startup_errors` to `true` will only hide that error from appearing. Nothing else changes, so if Anaconda worked before, it should still work.

[2016-10-08 00:15] lovette commented on #527
Well, I guess I'm not sure how to tell when Anaconda is actually working :) since `jsonserver.py` never starts and that error repeats itself in the ST Console every 10 seconds.

[2016-10-08 00:27] DamnWidget commented on #527
You should have some logs in ~/Library/Logs/anaconda probably there is something making the jsonserver to crash if there is nothing there I will give you instructions to start it in DEBUG manual mode so we can find what the problem is

[2016-10-08 00:45] lovette commented on #527
Oddly, I have no anaconda directory in either root or user Library/Logs.

[2016-10-08 09:47] DamnWidget commented on #527
Ok, so let's start it manually in DEBUG mode to see what is going on. Open a terminal and write:
[code]
Change the `<your_project_or_directory>` to the name of your project or the name of the directory that contains your code, then start your Sublime Text 3 and open the directory where your code is.

[2016-10-08 11:06] DamnWidget commented on #550
Solved your problem @kindlychung?

[2016-10-08 14:58] crc32 commented on #527
Running that command results in the following on my system:

↪ $ python -B ~/Library/Application\ Support/Sublime\ Text\ 3/Packages/Anaconda/anaconda_server/jsonserver.py -p ~/mayton-asterisk/projects/rhea DEBUG
ERROR:root:Traceback (most recent call last):
  File "/Users/*XXXX*/Library/Application Support/Sublime Text 3/Packages/Anaconda/anaconda_server/jsonserver.py", line 344, in <module>
    s

[2016-10-08 15:45] DamnWidget commented on #527
Is the user running python owner (or have the right permissions) of the `/Users/whatever/Library/Application Support/Anaconda` directory? @crc32

[2016-10-08 21:02] lovette commented on #527
My project file is `~/Project/webapp/webapp-www.sublime-project` and I can start in debug mode:

[code]

The error still occurs though because it's creating the cache directory as a subdirectory of my project directory instead of in `~/Library/Application Support/Anaconda` as referenced in the error message.

[2016-10-08 22:08] DamnWidget commented on #527
@lovette the value of the param `-p` must be just the last part of the part `webapp-www` in this case instead of the full path. Change it ans try again, when the server starts open your ST3 to see if the client can connect to the server.

[2016-10-09 09:31] kindlychung commented on #550
Yes, removing jedi solved my problem. Thanks!

[2016-10-09 12:33] pradyunsg commented on #489
Count me in a contributor for this.

Just a few doubts:

- Why Go?
- I don't think you know about this: https://en.wikipedia.org/wiki/Golconda - Maybe we need a new name?
- So... Golconda would be a central server that would provide the functionality provided by JSONServer (makes sense). So, we would end up having language-specific components and editor-specific components, talking through Golcond

[2016-10-09 14:55] v-hunt opened #553 "Run all project test doesn't work in regular .py file."
If I edit a file with tests, all the test running options are available (Run last test, run test under cursor etc). But after I close the file and go to `models.py` for example, it would be still great to have an option  to run all project test suit, but unfortunately it is impossible... "Run all project tests" command  is unavailable

[2016-10-09 15:07] v-hunt opened #554 "Graphical debugger for Anaconda"
I know that `pdb/ipdb` is suitable for many cases, but graphical debugger is more convenient tool, especially for big projects. How hard to implement one? As for me, this is only one thing left that doesn't allow to consider Anaconda as an full-featured enterprise IDE.

The only one idea that came into my mind is to develop the Sublime client to `rpdb2` server (A thing like Winpdb graphical client

[2016-10-09 15:40] pradyunsg commented on #554
AFAIK, Sublime Text's API doesn't really provide anything to be able to provide a nice debugging interface. Unless you would be fine with a text-based debugging, like https://github.com/martomo/SublimeTextXdebug, which would be a very different, a non-trivial task itself.

[2016-10-09 18:43] lovette commented on #527
In that case jsonserver.py starts and my ST project opens without incident. (It only seems to want to parse the files I open directly so Goto Definition and such don't do anything.)

[code]

[2016-10-10 08:17] DamnWidget commented on #489
I will try to answer your doubts:
* It is easy to distribute (just a binary) and it's seriously fast as an HTTP router plus it's easy to make concurrent/asynchronous work with it  and support contextual operations out of the box since Go 1.7. I am open to other languages with similar capabilities like Rust, the reason that I did not choose Rust is that I am not that proficient with is as with Go.

[2016-10-10 09:13] DamnWidget commented on #489
@pradyunsg can you send me an email? My email address is in my Github information.

Regards.

[2016-10-10 09:15] DamnWidget commented on #554
As @pradyunsg already said, that os not an easy task as the Sublime Text 3 API graphical capabilities are limited (very limited in fact).

[2016-10-10 09:17] DamnWidget commented on #553
I will take a look on it but that feature was contributed by an user and I am not very familiar with it myself as I always use a terminal window to run tests, compile and such.

[2016-10-10 09:24] DamnWidget commented on #527
Can you check if for any chance you have the `jsonserver_debug` option set as `true`? If you do, set it as `false` because anaconda is never gonna try to start a JsonServer automatically if that is set as `true`. To make sure you did not override the default configuration that should be `false` you can open the Sublime Text 3 while your buffer is in any Python file and write:
[code]
Your problem 1

[2016-10-10 09:29] pradyunsg commented on #489
I'm on to move right now... I'll do that when I get to my destination.

[2016-10-10 13:49] v-hunt commented on #554
@DamnWidget  I know that ST3 graphical capabilities are quite poor, but can we find a way to emulate graphical behavior via ST capabilities?
https://github.com/martomo/SublimeTextXdebug

[2016-10-10 14:04] DamnWidget commented on #554
If you feel brave enough (and you copromise with it's maintenance)  I will accept PRs to implement that feature, I could even give you a hand with anaconda's specifics but there is too much already in my plate as to think to implement something like that.

[2016-10-10 19:00] lovette commented on #527
Good call, I did have that option set to `true`. It's been that way since another issue we discussed in June 2015...

I commented out the debug settings and it appears the server is now starting because the socket file is created and I don't get any errors in the Console.

[code]

However, none of the Anaconda commands do anything.

I tried to verify the Python commands you mentioned but get an im

[2016-10-10 19:16] DamnWidget commented on #527
The import error is because you installed anaconda trough `Package Control` it renames it automatically to `Anaconda` so the import should be something like:
[code]
Anyway, now is just a matter of see if there are any errors both in the ST3 console and in the JsonServer logs (you must now have something in `~/Library/Logs/anaconda/<your_project_name>` so just work for ten minutes and take a look a

[2016-10-10 19:46] lovette commented on #527
Every Anaconda command just results in the socket being closed.

[Gist with log and configs](https://gist.github.com/lovette/1cac2258bd4ca344a1a89b72e442d4d4)

[2016-10-10 20:20] divinites opened #555 "why doesn't Anaconda use rope library for refactoring?"
I am curious, since Jedi library is not good at refactoring, so does anaconda. In the era of sublime text 2, we have sublimeRope, but now we have moved to ST3 for a long time, seems that all IDE-like python plug-in use Jedi, including YouCompleteMe SublimePythonIDE, etc.; no one uses rope anymore. Is there any compelling reason for this?

Moreover, Is there any better solution for python refactori

[2016-10-10 20:59] DamnWidget commented on #527
Ok, now you can close your ST3 and start it from the command line with:
[code]
Since anaconda 2.0 **is not** necessary to set the `jsonserver_debug` flag as `true` so you can just left if commented, anaconda will connect to the already running server as soon as you start ST3 and start typing in the project.

You will get an extremely verbose output with any exceptions from the asyncchat frames.

[2016-10-10 21:11] DamnWidget commented on #555
I was regular contributor in SublimeRope, when the project was moved to SublimePythonIDE I helped with the transition and added linting support for it but at the end I started anaconda because difference of opinions about the course of SublimeRope/SublimePythonIDE.

Rope is a great tool it has many good features, one that I really miss a lot is it's ability to detect symbols in the buffer that wer

[2016-10-10 21:15] #555 closed

[2016-10-10 21:15] divinites commented on #555
Thank you so much for your detailed explanation, looking forward to Anaconda 3!

[2016-10-10 23:51] lovette commented on #527
It looks like the problem is specific to Python 2.6.

[code]

Here's the same with Python 2.7.10.

[code]

Is Anaconda using Python 2.6 because my project `python_interpreter` setting is `python2.6`? I must have this setting for 2.6 because my server environment is not using 2.7 yet.

[2016-10-11 07:45] sergei-maertens commented on #546
I probably had missed some message or my settings were incorrect from the beginning. My `python_interpreter` was not scoped in `settings` (in the project settings). Since I've fixed that, I haven't run into the issues anymore.

In the global settings I had `python_interpreter: $VIRTUAL_ENV/bin/python`, maybe it's related to the jsonserver dying and then not receiving the envvars anymore?

Can be c

[2016-10-11 09:26] Jonny1987 opened #556 "Lint only for changed lines"
I think this option would be really useful. At work, it's not my job to correct other people lines of code if I am working on something completely unrelated. So I don't want to lint the whole file, just the changes that git recognises.

Is it possible to use output from another plugin like gitgutter or git (the plugin) to recognise which lines have been changed and only lint those?

[2016-10-11 09:47] DamnWidget commented on #556
Not right now, but something that could be added any time in the future if more people thinks it will be useful.

[2016-10-11 17:42] dev169 commented on #471
I had to do a double take reading this issue, so to restate the problem:

If you decide to manually ignore checks by adding them to `pep8_ignore` in Anaconda user settings, these and only these settings will be ignored by `pycodestyle`.

Everything that used to be ignored by the default `pycodestyle` configuration will be un-ignored, since we are passing a custom configuration now, and you'll have

[2016-10-11 18:33] DamnWidget commented on #471
That sounds about right yeah

[2016-10-11 21:49] divinites commented on #554
Actually, I think something like [SublimeTextXdebug](https://github.com/martomo/SublimeTextXdebug) would be ideal, since we do not have any decent debugger for python in Sublime text at this moment. In many cases, I write codes in sublime text and open Pycharm for debugging.  Of course, developing a Xdebug for Python is non-trivial at all, I would be very happy to participate if I had enough time.

[2016-10-11 22:01] DamnWidget commented on #554
What you mean @divinites? I am afraid that I don't understand your question.

[2016-10-11 22:04] divinites commented on #554
@DamnWidget  I mean, besides auto-completion and refactoring, which you have told us that Anaconda 3 will have better support for, are you going to integrate an advanced debugger as well?

[2016-10-11 22:09] DamnWidget commented on #554
I am not planing to integrate anything like that for now but if you have any idea about how to implement it feel free to work on it :)

Golconda is able to execute anything that you pass as the Golconda's plugin entry point (like docker) so you can do it in whatever language that you wish, anyway, I am still designing/writing it with a reference plugin implementation (what is now anaconda_go) so p

[2016-10-12 02:17] pradyunsg commented on #489
@DamnWidget Did you receive the email?   My email address is Github username at Gmail.com.

[2016-10-12 07:45] DamnWidget commented on #489
nope, I did not get anything

[2016-10-12 07:59] pradyunsg commented on #489
I sent it to the fsf mail id. Whoops!

On Wed, Oct 12, 2016, 13:15 Oscar Campos <notifications@github.com> wrote:

[2016-10-12 07:59] pradyunsg commented on #489
I got the mail!

On Wed, Oct 12, 2016, 13:29 Pradyun Gedam <pradyunsg@gmail.com> wrote:

[2016-10-12 08:57] v-hunt commented on #554
@divinites What is Golconda? Could you be so kind to provide a link?

[2016-10-12 08:59] DamnWidget commented on #554
@v-hunt  https://github.com/DamnWidget/anaconda/projects

[2016-10-12 14:40] v-hunt commented on #554
@DamnWidget So, should we consider current Anaconda as legacy and look ahead to Golconda project only?

[2016-10-12 14:47] DamnWidget commented on #554
It's early to define anaconda as legacy, there are lots of things that need to be done to considered anaconda as legacy but big features like this request will be taken into consideration in the future. You have to take into account that we depend in great measure on Package Control that lately is kind of slow reviewing and merging the PRs so the transition is not gonna be fast/.

[2016-10-12 18:34] alipunjani opened #557 "Anaconda severely slows ST3 when editing python files over SSHFS mount"
Using ST3+Anaconda on OSX 10.11.3

Editing python files locally is perfectly fine with Anaconda enabled.

When I try to edit python files in a directory that is mounted over SSHFS, with Anaconda enabled, typing a letter gives a lot of lag (basically unusable).
With Anaconda disabled, everything is fine over SSHFS.

I already have anaconda linting disabled.

The anaconda log file in ~/Library/Logs/

[2016-10-12 18:45] DamnWidget commented on #557
You are trying to run analysis tools in files that doesn't exists in the machine where ST3 and anaconda JsonServer are being executed only a disaster can be expected.

If you want to edit files in a SSHFS file system you will probably want to setup a remote python interpreter in the remote machine and map the directory names (is they are different). Take a look at the wiki documentation where a de

[2016-10-12 19:11] mrvkino opened #558 "Anaconda slow on long file, vanilla Sublime Text 3 on OSX"
With a vanilla install of Sublime Text 3 (3126) on OSX El Capitan (package control and anaconda only) my autocomplete gets slower with longer file.

With a file of 200 lines I have a delay between the time I type "print" and the autocomplete suggestion of 0.5-1s. With a file of 1600 lines it goes to 8 sec. The rate of delay is about 1 s for each 200 lines.

I tried following the debug procedure in

[2016-10-12 19:37] DamnWidget commented on #558
I don't think is because how many lines the file has, probably your JsonServer is crashing and restarting in a loop. To enable the debug mode you just need to remove the port in the command that you pasted above, the port is not needed anymore in POSIX platform.

Start it in debug mode and let's take a look at the log

[2016-10-12 19:40] DamnWidget commented on #549
I am closing this, feel free to open it again in the future if you have new doubts/comments/ideas

[2016-10-12 20:17] mrvkino commented on #558
I started the JsonServer

[code]

When I open Sublime Text a pop-up tells me that it was not able to connect to the socket.

The socket mentioned exist and is under my username. If I use the command in Sublime Text console to test the socket, I get this message

[code]

[2016-10-12 20:44] DamnWidget commented on #558
Ok, let's me explain you roughly how anaconda works.

When you open a folder or a project in your Sublime Text 3 in a window, anaconda assign an unique project name to that window, being this:
1. The project name itself is a project exists
2. The first opened directory in the Windows if a project is not set
3. The string "anaconda-" followed by the ID of the ST3 window if there are no open directo

[2016-10-12 20:53] mrvkino commented on #558
Ok, I got it working.

You can skip the linting error. I don't have my warning exclusion active in this vanilla install. At the end of the log there is a lot of unsuccessful attempt reported for the autocompletion of print.

[anaconda.txt](https://github.com/DamnWidget/anaconda/files/525620/anaconda.txt)

[2016-10-12 20:57] DamnWidget commented on #558
Is not the autocompletion, it is the signatures tooltips requesting the documentation of the symbol under the cursor.

Which Python version is that?
ST3 and Anaconda versions as well?

[2016-10-12 21:01] mrvkino commented on #558
I have python 3.4.2 under pyenv. Sublime text is 3126. Anacaonda is 2.1.1

[2016-10-12 21:09] DamnWidget commented on #558
There should be something environmental going on here, I just created a file with 8000 lines just duplicating the same code, the linting was a bit slower but the tooltips and completions where as fast as always (the whole package is design to make it fast in that specific scenario).

Can you try to use another Python interpreter that is not under pyenv please?

[2016-10-12 21:20] alipunjani commented on #557
Aha. I guess I completely didn't understand how Anaconda works. I'll try what you suggested, thanks for the links!

[2016-10-12 21:20] #557 closed

[2016-10-12 21:29] DamnWidget commented on #557
Even if the files being edited are in accesible trough the local VFS the libraries that they import are not, or probably they exists in other paths, that is why you can run into problems, by settings a remote Python Interpreter you make sure that the analysis occurs in the remote system where libraries and files are really accessible to the analysis tools.

Feel free to re-open or comment (even if

[2016-10-12 22:43] mrvkino commented on #558
I have set the python interpreter to /usr/bin/python (which is the system python of OSX) and I get the same behavior.

[anaconda.txt](https://github.com/DamnWidget/anaconda/files/525786/anaconda.txt)

[2016-10-13 02:23] Solanar opened #559 "mypy on Windows"
I was trying to get mypy to work on Windows and ran into some issues. I'm using a virtualenv with mypy==0.4.4 (latest version does not work with anaconda) installed as well. Looking through the anaconda_jsonserver.log and the source code I've found some issues:

In [anaconda_mypy.py 63-67](https://github.com/DamnWidget/anaconda/blob/928d8ceca121aa98b25f0e67fdbcc16d5f125bd5/anaconda_lib/linting/ana

[2016-10-13 04:57] jasjuang opened #560 "How to specify rcfile name?"
In the terminal I can do something like

[code]

[2016-10-13 08:11] DamnWidget commented on #558
The logs looks pretty normal to me, you can try to disable the use of docstrings for the tooltips, set this `enable_docstrings_tooltip` to `false` in your config, if it doesn't help you can try to disable the display of signatures all together setting `display_signatures` to `false` and see if there is any kind of improvement.

[2016-10-13 08:21] DamnWidget commented on #559
Hi, thank you for take your time in look into this problem that you had with mypy on Windows. Is very strange that you have any problem with how the command is passed to Popen as shlex takes care of format the arguments right for every platform, I will take a look into it as I think your changes will break POSIX.

I didn't test the mypy feature on Windows I will take a look as soon as I have some

[2016-10-13 08:43] DamnWidget commented on #560
Just set the path to your rcfile as value for  `pylint_rcfile` in your project config, user config or anaconda global config.

[2016-10-13 09:28] jeffery9 commented on #527
Anaconda still report Jsonserver error in background instead of popup windows.

there no log in  anaconda_jsonserver.log

[2016-10-13 09:35] DamnWidget commented on #527
Well, of course it does, it would be really frustrating for me to try to give support to someone that is not able to connect to the JsonServer with nothing that guide us about that being the problem, anaconda will always log in the ST3 console despite whatever configuration the user have for GUI error notifications.

If anaconda works well after you get this error and the error is no in the consol

[2016-10-13 13:02] mrvkino commented on #558
If I put the ```display_signatures``` to ```false``` it speeds it up a lot. I would really like to get the signature back especially for function or classes I don't use a lot.

```enable_decstrings_tooltip``` doesn't seem to change anything much.

[2016-10-13 14:26] DamnWidget commented on #558
I am pretty sure that the jsonserver is crashing when the signatures is enabled, is the only thing that could explain the delay, it's hard to try to debug a problem that is not happening to you just using this issues tracker list...

[2016-10-13 14:41] mrvkino commented on #558
I could always try to do more in-depth debug on my side to get you more information. I would just need some pointers on where to start.

[2016-10-13 16:01] jasjuang commented on #560
Thanks it works

[2016-10-13 16:01] #560 closed

[2016-10-13 16:04] vmachiel opened #561 "False positives in the linter with error 305 (E305)"
So 305 regards the two expected blank lines after a function or class definition. Fair enough, but it also triggers after assignment of global variables and constants. See image below: all are E305.

http://i.imgur.com/C1FPliD.jpg

[2016-10-13 16:09] DamnWidget commented on #561
Hi, all I can see is an screenshot of something being linted in that lines
but there is no any error context, can you add a screen of the list of the
errors?

On Oct 13, 2016 5:04 PM, "vmachiel" <notifications@github.com> wrote:

[2016-10-13 16:37] vmachiel commented on #561
Sorry! All the errors are like this:
http://imgur.com/77AMQ96.jpg

[2016-10-13 16:40] vmachiel commented on #561
And they are not class of function definitions.

[2016-10-13 16:49] DamnWidget commented on #561
That is coming directly from the `pycodestyle` (formerly pep8.py) library and I guess is because the name of those variables contains the word `class`. This was reported by other user in #542 that even provided a solution in #543 but that is a problem in PyCodeStyle that they must fix themselves we can't just modify a third party library as it will be painful to maintain.

[2016-10-13 16:54] DamnWidget commented on #561
In fact the same user made a PR in pycodestyle directly https://github.com/PyCQA/pycodestyle/pull/576#pullrequestreview-1514601 but it is waiting merge because of tests (that seems to be now provided), so is a matter of wait.

[2016-10-13 16:56] vmachiel commented on #561
I see! Thanks so much. I'll close the issue.

[2016-10-13 16:56] #561 closed

[2016-10-13 17:45] mrvkino commented on #558
I did a little digging in the tagged version of Anaconda in github. I used my default pyenv python 3.4 setup. With my current vanilla setup and Anaconda set to 1.4.28 the popup is instantaneous with all tooltips enable. Starting with 2.0.0, I start getting the slowdowns.

I don't know if this narrows it down, since it is at the time of the major rewrite of Anaconda.

[2016-10-13 17:59] DamnWidget commented on #558
Not much really, if you are not using docker, vagrant or remote interpreters is probably fine if you use 1.4.28 anyway, I think if you start the jsonserver manually in debug mode and set the `jsonserver_debug` as `true` you will find crash reports in your terminal after a few minutes of use.

Note: if you enable the `jsonserver_debug` anaconda will not try to start a jsonserver by itself ever, rem

[2016-10-13 18:28] DamnWidget commented on #559
About the 0.4.5 support, yep, looks like they broke anaconda with this merge https://github.com/python/mypy/pull/2192 as one of the parameters that we pass to mypy was renamed

[2016-10-13 20:29] #559 closed

[2016-10-13 20:52] Solanar commented on #559
Thanks for looking into this so promptly!

I checked out the fix and it's working but as I mentioned above it still does not handle spaces in the path of `sys.executable` nor `self.filename`. `shlex` splits on spaces and requires quotes or something to delimit tokens.

[2016-10-13 21:20] DamnWidget commented on #559
Working fine for me, shlex was designed just to handle that, I am not sure how is possible that is not working for you, I have no problems really.

[2016-10-13 21:41] Solanar commented on #559
I hope it's not too much to ask, but can I ask for your parameters to the shlex call? I'd like to use it to diagnose what's happening on my end.

- sys.executable
- self.filename
- args (what shlex.split returns)
- os.name != 'nt'

When I run shlex.split in my terminal it spits out:

    [
        'E:\\venv\\Scripts\\python.exe',
        '-O',
        '-m',
        'mypy',
        '--hide-error-co

[2016-10-13 22:04] divinites opened #562 "[Feature Request] make find_usage cross files"
Hi, I have been struggling with the find_usage of Anaconda for a long time, since I uninstalled [Who​Called Function Finder](https://packagecontrol.io/packages/WhoCalled%20Function%20Finder), which is a project-wide searching tool.

Anaconda's "Goto Definition" works pretty good, but "Find Usage" normally only works within the same file, if I called the function in another file which I have not op

[2016-10-14 08:07] DamnWidget commented on #559
Yeah you are right, I made a commit to solve it, if Package Control does not automatically updates your installation do a git pull in the anaconda directory.

[2016-10-14 08:39] DamnWidget commented on #562
Well, Jedi is already supposed to work cross files for the usages method but it never worked too well, the method that anaconda calls into Jedi also accepts a param `additional_module_paths' but right now does nothing.

It also seems like the usages method is kind broken in some places as @davidhalter already stated in the Jedi issues tracker, anyway, if you feel brave enough you could try to help

[2016-10-14 08:51] DamnWidget commented on #554
I took a look to `rpdb2` in my lunch time yesterday and it seems to get stacked if the Python interpreter gets stacked  so if for example your Python interpreter gets blocked in a system call to the OS `rpdb2` is pretty much useless.

Anyway, this is something that I always wanted to do but I was never in the mood, I even opened myself the oldest non resolved issue in this tracker the issue #54 th

[2016-10-14 08:55] DamnWidget commented on #553
I take a quick look on this and I am not able to replicate the issue @v-hunt in my case the options to run tests are always available as soon as my cursor is over valid python code (that is not a comment or a string) so I am marking this as not replicable.

If you find a deterministic way to replicate the problem please, share it

[2016-10-14 09:26] divinites commented on #562
@DamnWidget  The slow way you proposed seems to be doable, but it is very inefficient in the sense that everytime when we make a `find_usage` call, it will go through every single file again and again.

Maybe a more plausible way is to use an index cache to record every query that is made by users. Then, when a new query arrives, the system will:

- Search in the cache, if not, start a new query t

[2016-10-15 00:03] Solanar commented on #559
Thanks for looking into this again, but I'm still running into an issue.

    import sys, shlex
    from subprocess import Popen, PIPE
    Popen(["'{}'".format(sys.executable)], stderr=PIPE, stdout=PIPE)
    Popen(shlex.split("'{}'".format(sys.executable), posix=False), stderr=PIPE, stdout=PIPE)
    Popen("'{}'".format(sys.executable), stderr=PIPE, stdout=PIPE)
->

    FileNotFoundError: [WinError

[2016-10-15 11:29] DamnWidget commented on #546
Let's close it for now I have more than enough work to do already ;)

[2016-10-15 11:29] #546 closed

[2016-10-15 11:37] DamnWidget commented on #559
The problem of removing the posix=False is that Windows paths are not gonna be corrected in case that they need and the backslashes are gonna get removed, anyway, I will make the change.

[2016-10-15 11:43] DamnWidget commented on #559
It is pushed on master, I will make a release when I have more fixes/changes to make a release

[2016-10-15 16:38] Solanar commented on #559
Sorry to be a bother on this issue. Thanks for believing me.

Could you provide an example of what you mean?

Here's my testing:

    a=shlex.split("'C:\\Users\\First Last\\AppData\\Local\\Programs\\Python\\Python35-32\\python.exe' -m mypy 'E:\\antyc_solutions\\projects\\django-knockout-dev\\django-knockout\\setup.py'")
    b=shlex.split("'C:\\Users\\First Last\\AppData\\Local\\Programs\\Python\\P

[2016-10-15 16:48] DamnWidget commented on #559
What I mean is that with `posix=False` any path with regular slashes will be converted to backslashes, anyway that would not apply as shlex will take the path as a literal and will not try to convert it so it does not really matters.

[2016-10-15 16:49] Solanar commented on #559
Ah, I see. Thanks again! This is an amazing project and I couldn't do Python dev without it :)

[2016-10-15 17:10] DamnWidget commented on #559
Thank you for your kind words, I really appreciate it.

[2016-10-16 11:19] antirealist opened #563 "Rename object under cursor"
This feature is not working for me at all under OSX 10.12. It finds all the references and opens an edit pane with the current object name. If I edit the name and hit enter, the edit pane closes and the edits are just ignored.

[2016-10-17 08:20] DamnWidget commented on #563
ST3 version?, Anaconda version?, Any errors in the console?, Any message in the status bar?, Any errors in the JsonServer logs?

[2016-10-17 09:51] antirealist commented on #563
ST3 build: 3126
Anaconda version: 2.1.3
No console errors or status bar messages
No jsonserver log errors:

2016-10-17 07:16:49,587: INFO    : client requests: rename
2016-10-17 07:16:49,750: INFO    : About push back to ST3: {"renames": {}, "success": true, "uid": "8cd4f6a5e7a94133b289dac704ca27da"}

It just fails silently.

[2016-10-17 13:34] dpiche174 opened #564 "GoTo Definition tracebacks on Windows"
## Expected Behaviour

Using "GoTo Definition" on Windows should work without errors.

## Actual Behaviour

Using "GoTo Definition" on Windows results in a traceback (see section "ST3 Console Logs"). The cursor is actually moved to the definition but the traceback in the log is unexpected. I think it is only the focusing of the cursor that is not working.

The error seems to be cause by the string

[2016-10-17 16:03] #564 closed

[2016-10-17 19:49] lovette commented on #527
To add closure to my issue, Anaconda starts working as expected after I edit my `sublime-project` files and change `python_interpreter` to `python2.7`. Assuming `python_interpreter` only influences Anaconda, I'm happy to keep it this way...

[2016-10-17 20:33] DamnWidget commented on #527
I would be much more happier if we were able to resolve your problem but is
really hard try to figure out what can be wrong being unable to replicate
it myself.

On 17 October 2016 at 20:49, Lance Lovette <notifications@github.com> wrote:

--
Join the Free Software Foundation and become Free as in Freedom

[2016-10-18 08:03] DamnWidget commented on #564
Please, feel free to open if you find the problem persists.

[2016-10-18 08:49] dpiche174 commented on #564
I tried the fix and it works. Thanks!

[2016-10-18 09:27] DamnWidget commented on #564
No, tank you, the fix is yours :)

[2016-10-18 10:45] DamnWidget commented on #563
I have been looking into this and I think I know why is not working for you. Let me explain you how the renaming works.

Aanconda asks jedi for a list of files that reference the symbol under your cursor, then Jedi returns back this list but it can contains files from libraries or even the standard library  so we need a way to know that the file that we are renaming is part of your project path or

[2016-10-20 11:37] divinites commented on #562
In the source code, find_usage is implemented as follows:
[code]
I tracked the `Worker` class in `anaconda_lib/jedi` and `anaconda_lib/worker`. Seems that the data is prepared to send to the jsonserver. How can I only query a particular file, rather than the whole project?

[2016-10-20 11:50] DamnWidget commented on #562
I am not sure to follow you here, `prepare_send_data` queries for only one file, the file being edited. What you mean?

[2016-10-20 11:56] divinites commented on #562
Sorry, probably I did not make it clear enough. I just try to find the way in which Anaconda queries Jedi/jsonserver for the usage, could you please advise which library should I look into?

[2016-10-20 11:56] monobot opened #568 "lost of reference on imports, goto, etc..."
Lets say you open ST3 + anaconda, and go to a python object using anaconda, then if you close the target file anaconda somehow forgets or lost the reference and stops finding it again

## Expected Behaviour
After go to python object, and closing the target file, anaconda should behave the same.

## Actual Behaviour
marks as import error and can not go to python object anymore, showing docstring do

[2016-10-20 12:16] DamnWidget commented on #568
Hi, two things

1) Can you try disabling the imports validation?
2) Do you always get the Bad File Descriptor error?

[2016-10-20 12:27] DamnWidget commented on #562
Probably you want to take a look to [the anaconda worker system](https://damnwidget.gitbooks.io/anacondast3-developers-documentation/content/architecture/the_anaconda_worker_system.html) and to [the JsonServer design](https://damnwidget.gitbooks.io/anacondast3-developers-documentation/content/architecture/jsonserver_related_design_and_architecture.html)

But in brief, the Worker pass the request t

[2016-10-20 12:31] divinites commented on #562
What I did just now is to try to understand the mechanism behind `find_usages.py`. Thanks for mentioning the docs! I did not notice it before. I will have a good look at the document and try to implement a better version of "find_usage".

[2016-10-20 12:34] srugano commented on #38
It doesn't work for me.

[2016-10-20 12:40] DamnWidget commented on #38
It has to work @srugano
how and where are you configuring `pep8_max_line_length`?

[2016-10-20 12:58] davidhalter commented on #562
This issue will not be done/merged until at least the latest branches are merged. Might take a few months.

There are some big issues with the current state of Jedi that need to be tackled first, before the API can be expanded.

[2016-10-20 13:05] DamnWidget commented on #562
@davidhalter did you comment in the wrong project?

[2016-10-20 14:58] DamnWidget commented on #568
The imports validator is being fired despite what you have in your configuration, make sure you are not overriding the configuration in your project settings. I will try to reproduce the goto problem later in my Linux box.

[2016-10-20 16:32] davidhalter commented on #562
My comment sounds a bit wrong, but what I'm essentially trying to say is:

The feature that is requested here is going to be a feature of Jedi. There's probably no value in trying to work around it for the time being. However at the moment Jedi just lacks the powers to actually do this properly (and fast).

[2016-10-20 16:36] divinites commented on #562
@davidhalter Thanks for the clarification. Since it is on the development calendar of Jedi itself, I will wait the update of Jedi then.

[2016-10-20 16:39] DamnWidget commented on #562
Oh I see, I thought you were speaking about the my PR into Jedi in that context your previous comment made also a lot of sense

[2016-10-20 16:40] DamnWidget commented on #568
I already fixed the problem in the imports validator, it will be live on next release.

De nada.

[2016-10-20 16:46] DamnWidget commented on #466
@Cescfangs this was fixed by Jedi and is not affecting anaconda anymore can anyway, can you confirm and close the issue?

Thanks.

[2016-10-20 16:51] DamnWidget commented on #449
I think I can close this as the change has been long included into anaconda, feel free to reopen if there is any problem

[2016-10-20 16:51] #449 closed

[2016-10-20 17:10] #568 closed

[2016-10-21 01:44] Cescfangs commented on #466
Problem solved @DamnWidget

[2016-10-21 01:44] #466 closed

[2016-10-21 09:20] muffinmad opened #569 "Go to assignment"
Sometimes I need to find out how an instance was created rather than jump to class definition.
Would it be acceptable to implement new command like `anaconda_goto_assignment`?

[2016-10-21 12:40] DamnWidget commented on #569
Are you asking if would be acceptable that you implement the command yourself? If that is the case, PRs are more than welcome but remember to follow the [developers guidelines](https://damnwidget.gitbooks.io/anacondast3-developers-documentation/) and add a test case for the new feature.

[2016-10-23 02:04] evandrocoan opened #571 "Hide Anaconda context menu entry on non-python projects"
### Hide Anaconda context menu entry on non-python projects

![image](https://cloud.githubusercontent.com/assets/5332158/19623717/3b603d7e-98b4-11e6-9f2e-999a2207cdc4.png)

## Expected Behaviour

To not see the `Anaconda` Context Menu entry is on non python projects.

## Actual Behaviour

The `Anaconda` Context Menu entry is showed on non python projects.

[2016-10-25 11:47] muffinmad commented on #569
Some links in Anaconda Developers Documentation is broken.
[This](https://damnwidget.gitbooks.io/anacondast3-developers-documentation/content/getting_involved/getting_involved/anaconda_coding_style_guide/README.html) and [this](https://github.com/DamnWidget/anaconda/blob/master/templates/relnotes.tpl) gives me 404.

[2016-10-25 15:26] DamnWidget commented on #571
I don't think we are able to do anything  beyond define the anaconda methods as disabled (that we already do).

[2016-10-25 18:08] evandrocoan commented on #571
Well, there is a bad option which can be done while the issue https://github.com/SublimeTextIssues/Core/issues/1095 on the Sublime Text core is not closed.

When we are on no python projects, we delete the Context menu file.
When we are on python projects, we write the Context menu file down.

[2016-10-25 20:02] #569 closed

[2016-10-25 20:17] #549 closed

[2016-10-26 07:35] BLeAm commented on #527
Backing up @lovette, I guess there might be something have to do with Python's version,
on my side, everything works fine when I set python interpreter to python2,
but whenever switch to python 3.6(beta) or 3.7(alpha) this dialog of problem shows up.

[2016-10-27 01:07] jbruck opened #573 "Stop autocomplete on typing "print(""
## Expected Behaviour

No autoformat on typing "print" or simply a close paren
## Actual Behaviour

"print(value, ...)"
## Steps to Reproduce

type "print("
## ST3, Anaconda and OS versions

Recent. Ubuntu 16.10

I find having to delete the comma and the ellipsis annoying. Can it be turned off?

[2016-10-27 07:53] DamnWidget commented on #573
The autocompletion gives you what you tell him to give you. This is from the anaconda configuration file
[code]
The `print` function gets completed as any other function as there is nothing special about it, the behaviour that you get is expected behaviour taking into account your configuration.

[2016-10-29 11:39] #550 closed

[2016-10-30 20:50] evandrocoan opened #575 "Connection to localhost:35615 timed out after 0.2s. tried to connect 7 times during 2 seconds"
### Connection to localhost:35615 timed out after 0.2s. tried to connect 7 times during 2 seconds
## Expected Behaviour

Is expected to this window do not pop up when I open Sublime Text:

![image](https://cloud.githubusercontent.com/assets/5332158/19839809/eba57d04-9ecf-11e6-94c3-cf6a4f28415d.png)

[code]

Neither is expected to this strange and undoable/permanent selections marks on my python fi

[2016-10-31 03:52] ClericPy opened #576 "ImportError: No module named 'Default.history_list'"
## Expected Behaviour
show definition of functions
## Actual Behaviour
nothing to show
## Steps to Reproduce
Not any more, still occur
## ST3, Anaconda and OS versions
latest , 2.1.5
linux-mint, win10
## ST3 Console Logs
[code]
## Anaconda's JsonServer Logs
not received/update recently

## Temporary solution
modify the file :
[code]
remove 2 lines from this file:
[code]

## PS:
Is there a 'return/

[2016-10-31 11:43] DamnWidget commented on #576
Hi, seems like you need to update your ST3 version, yes, there is, just use Alt+-

Update ST3 and feel free to close this issue if that solved your problem.

[2016-10-31 11:46] DamnWidget commented on #575
As I can see in the logs, your client works fine so you can just ignore the errors setting the `swallow_startup_errors` to `true`.

Closing and as it is duplicated of the already open #527

[2016-10-31 11:46] #575 closed

[2016-10-31 11:47] DamnWidget commented on #575
The marks is just the plugin linter telling you that there are violations of the Python Code Style Guide (PEP8)

[2016-10-31 14:23] ClericPy commented on #576
thank a lot for your reply, I found the error file... 'Default.sublime-package' in the folder 'Installed Packages'...delete that file then everything works well...

and for my go_back requests...Alt + - works quite amazing...
Happy Halloween..

[2016-10-31 14:23] #576 closed

[2016-11-01 14:28] StanBright commented on #432
I've been "fighting" with this issue all day. Any updates on this?

I'm using virtualenv, too. If that helps, I noticed that it sometimes starts/stops working after restart of Sublime O_o.

[2016-11-03 05:03] hyperh opened #577 "Anaconda thinks unpacking is invalid syntax"
## Expected Behaviour
[code]
The code runs fine. Just Anaconda thinks the `*` is invalid syntax.

## Actual Behaviour
<img width="163" alt="screen shot 2016-11-03 at 12 57 46 am" src="https://cloud.githubusercontent.com/assets/11323591/19956264/ac47cc82-a160-11e6-8382-d2ef6b51f7f1.png">
<img width="313" alt="screen shot 2016-11-03 at 12 58 05 am" src="https://cloud.githubusercontent.com/assets/113

[2016-11-03 09:17] DamnWidget commented on #577
You have to configure a Python3 interpreter as your `python_interpreter` value in any level of your settings.

[2016-11-03 11:01] TheMikeyR opened #578 "Autocomplete for OpenCV"
I want to make OpenCV autocompletion work with the anaconda plugin, I've been googling the web empty without being able to succeed in the quest of autocompletion.
Anaconda plugin works fine with stuff like os package etc. but when I'm trying to make it work with opencv I seem to fail.

Been trying to add
[code]

Where my cv2.so file is located, I'm running Opencv 3.1 with anaconda and python 2.7.

[2016-11-03 11:45] DamnWidget commented on #578
I understand that you are using the anaconda Python distribution. Can you paste your `python_interpreter` configuration?

[2016-11-03 11:49] TheMikeyR commented on #578
@DamnWidget I guess you mean my setting in Anaconda.sublime-settings?
Then it is:
`"python_interpreter": "python",`

[2016-11-03 12:05] DamnWidget commented on #578
Just cd to `~/.config/sublime-text-3/Packages/Anaconda/anaconda_lib` in your terminal and then run:
[code]

If you get a result like:
[code]
then that means that anaconda should work with your current configuration.

Anyway, I found that Jedi, the library that we use to offer auto-completions has some kind of problem with cv2 and it crashes at some levels. There is an open ticket in https://github

[2016-11-03 12:17] TheMikeyR commented on #578
@DamnWidget
Yea I get the exact same error as you listed in [davidhalter/jedi#777](https://github.com/davidhalter/jedi/issues/777)

[code]

[2016-11-03 15:18] AllanLRH opened #579 "Disable linting on this file doesn't work on an usaved buffer"
When editing in an unsaved buffer (not just a edited file, but a "file" which was never saved to the disk), selecting _Anaconda: Disable linting on this file_ from the Command Palette won't disable the linting.

I'm using build 3125 and the MagicPython syntax definition.

[2016-11-03 15:44] DamnWidget commented on #579
Why you want to disable the linting in an unsaved buffer? If you are creating the file, just follow PEP8, if you don't want to follow PEP8 just disable the linter completely or just disable PEP8 linter.

`Disable linter on this file` do what it indicates, disable the linter "on files", a ST3 buffer is not a file.

[2016-11-03 16:42] AllanLRH commented on #579
When working in a Jupyter notebook, it's sometimes convenient to copy-paste code between ST and the notebook, when it's in need of heavy editing, but the massive amount of warnings (missing imports and such), makes the code difficult to read.
Since the code is linted, I suspect at Anaconda / Jedi is able to treat the unsaved buffer as a file, so consider this a feature request to add support for d

[2016-11-03 18:47] hyperh commented on #577
Thanks that worked!

I did
[code]

In the settings file
[code]

[2016-11-03 18:47] #577 closed

[2016-11-04 09:55] DamnWidget commented on #579
Being honest, I have no time to implement new features because of https://github.com/DamnWidget/anaconda/projects but I can guide you into how this specific feature works right now so you can implement it yourself if you wish (and make a PR).

[2016-11-05 20:18] AllanLRH commented on #579
I'd probably like to look into this after my upcoming exams, provided that the codebase isn't too complex, as to allow me to do this in a reasonable amount of time – will write here after my exams :)

[2016-11-07 11:02] sametmax opened #581 "Provide a setting hook to setup MYPYPATH"
Currently the only way to set MYPYPATH is to use an environment variable. Without MYPYPATH, you can't use mypy in any file doing an import outside of your current directory, because mypy won't be able to follow that import. Indeed, mypy does not follow the PYTHONPATH and requires that you set MYPYPATH manually.

[2016-11-07 14:03] DamnWidget commented on #581
I will take a look into it as soon as I have some free time, time that currently I don't have so for now I suggest you to add it to your environment.

[2016-11-07 14:11] Effenberg0x0 commented on #488
Hey, I managed to consistently replicate the problem, but I couldn't  fix it.
I created a 2 min video of it and also attached my example files.
![anaconda_screencast 1](https://cloud.githubusercontent.com/assets/4016782/20060309/c0a23bd4-a4e1-11e6-9dd9-09abe17db52f.gif)
(Sorry for GIF quality and size... GitHub doesn't accept MKV video files).

Here are the source files:
[anaconda_import_validator

[2016-11-07 14:31] DamnWidget commented on #488
Interesting. Did you noticed if there was any exceptions being logged into your logs while you were recording the video?

[2016-11-07 14:36] Effenberg0x0 commented on #488
I just tested again while looking at the console... There's no exception, error or anything out of the ordinary. Do I have to be in debug mode to see it?

[2016-11-07 14:54] DamnWidget commented on #488
I mean this logs @Effenberg0x0 https://github.com/DamnWidget/anaconda#anaconda-behaves-slowly-and-jsonserver-crashes

[2016-11-07 15:05] Effenberg0x0 commented on #488
Oh, sorry. Just tailed it. All I see are INFO logging msgs, no errors or exceptions of any kind. When I replicate the exact thing you see in the GIF above, I get apparently normal "client requests: autocomplete" and the answers (completion options) match what we see in screen in the GIF.

[2016-11-07 16:49] Effenberg0x0 commented on #488
I can confirm that jedi returns the proper completions when the import statement in my_package.my_module is either commented or not commented.

[code]

[2016-11-07 18:11] Effenberg0x0 commented on #488
I found another interesting thing, still using the example I posted above.
With "import logging" not commented in my_package.my_module, pressing '.' after my_mod gives wrong completions as expected. But if I kill -s HUP the PID of jsonserver.py, I get correct completions for about 2 seconds. This can be repeated indefinitely.

In other words, completion works properly for a couple seconds after js

[2016-11-07 19:45] DamnWidget commented on #488
What happens if you disable the import validations and just autocomplete that module?

[2016-11-07 19:53] Effenberg0x0 commented on #488
Same exact behavior: No proper completions unless I comment out the import statement in the imported module.

[2016-11-08 14:51] DamnWidget commented on #488
To add more information into this. if you start ST3 with `validate_imports` set as `false` the behaviour is 100% correct until you enable the `validate_imports` option that it fails and stays in that state until ST3 is restarted again.

This is a weird one.

[2016-11-08 15:42] Effenberg0x0 commented on #488
I was wondering, it's kind of a big one. Shouldn't we be seeing more people complaining about this? Maybe it doesn't affect all platforms? I'm testing on Linux only.

[2016-11-08 15:50] DamnWidget commented on #488
I will check in OS X and Windows later in home

[2016-11-08 17:46] DamnWidget commented on #488
I can confirm that behaviour is consistently reproducible in both OS X and Windows 10

[2016-11-08 17:53] Effenberg0x0 commented on #488
Ok. I'm not really familiar with the code base, but I'll try to understand
the bug and hopefully come up with a fix in the next days.

On Tue, Nov 8, 2016, 15:46 Oscar Campos <notifications@github.com> wrote:

[2016-11-08 20:44] Bladefidz commented on #514
For me, who using Windows 10. have newest version, but that error still happening. Uhm, anybody same with me?

[2016-11-08 23:30] narusFR commented on #514
@Bladefidz

I do, but I suppose it's our HIPS at work that blocks the connection. It's working fine except this popup, so I changed an option to hide the alerts at anaconda startup.

[2016-11-09 10:44] asfaltboy opened #582 "Import undefined name does not work"
## Expected Behaviour

Import of the object is added at top of file

## Actual Behaviour

A sublime error alert dialog is displayed with:

<img width="885" alt="screen shot 2016-11-09 at 11 35 47" src="https://cloud.githubusercontent.com/assets/321520/20135590/bc73cbf0-a670-11e6-85fd-99f1a94ed719.png">

## Steps to Reproduce

1. Type new unimported name, e.g "print(sys.path)";
2. select/place-curs

[2016-11-09 11:17] DamnWidget commented on #582
Are you sure that your cursor was over the word `sys`?. I am not able to reproduce this.

[2016-11-09 11:23] asfaltboy commented on #582
I'm certain, any verbose debug I can enable?

On Wed, Nov 9, 2016, 12:17 Oscar Campos <notifications@github.com> wrote:

[2016-11-09 12:45] DamnWidget commented on #582
The autoimport command is a very simple an naive implementation that just get whatever word is under the cursor and check if it is in the linted errors list and it's description contains the word `Undefined`, there is not much else in there, you can take a look at the code at  https://github.com/DamnWidget/anaconda/blob/master/commands/autoimport.py

[2016-11-09 13:39] asfaltboy commented on #582
I see, so it requires linting to be enabled? I have `"anaconda_linting": false` in my settings, this may be why? This should probably be added to both [the documentation][1] and as a test in [the command][2]

[1]: https://github.com/DamnWidget/anaconda.github.io/blob/6b419b2e46d88f4c36d13b7c0ba0c5ec395a2df7/content/IDE.md#autoimport-undefined-names
[2]: https://github.com/DamnWidget/anaconda/blob/

[2016-11-09 13:57] DamnWidget commented on #582
If linting is disabled, anaconda can not possible know if a symbol is not defined so yes, that is why is failing. About SublimeLinter, nope, the new SublimeLinter is still slower than anaconda as it is still using a thread based Queue that locks the ST3 python interpreter GIL while anaconda uses an asynchronous client-server approach that does not lock the GIL or the GUI.

Said that, I have plans

[2016-11-09 14:00] asfaltboy commented on #582
Sounds great! If you add support for a pluggable linters then I'm sold 👍  !

[2016-11-09 14:00] #582 closed

[2016-11-09 16:58] gabriellima commented on #575
In mine, there's an ERROR being logged (although Anaconda autocomplete is "working").

[WinError 10048] Only one usage of each socket address (protocol/networ
k address/port) is normally permitted

I mean "working" because somehow my ST3 is using its "auto completion" by default, so first I see the default auto completion, than after some seconds, I see the result of anaconda auto completion refre

[2016-11-09 21:19] Effenberg0x0 commented on #488
I rolled back each commit and tested with the python source files I posted here to see when the bug was introduced.

This is very weird but I have verified that the bug was actually introduced by commit dd960dce9c238fe3e09457ef05132409c645dd4c (_"anaconda JsonServer totally decoupled from anaconda ST3 plugin (contained on anaconda still)"_), back in August 2014! I have no idea how no one (includin

[2016-11-09 22:45] DamnWidget commented on #488
Hard to say Alvaro, I am still struggling myself to understand how the linting could affect in any way the auto completion as they are completely decoupled features, one should not affect the other. I have no idea how Jedi could stop giving us results after any linting option is used.

I would start adding some logging verbosity into the jedi handler in the anaconda_server so you can see what the

[2016-11-10 09:07] DamnWidget commented on #581
This has been solved, pending for release

[2016-11-10 09:23] DamnWidget commented on #578
Waiting for fix in Jedi

[2016-11-11 11:21] mkroiss opened #583 "Autocomplete triggers after typing "def doit:""
## Expected Behaviour
No autocompletion here, but newline (and indent cursor)

## Actual Behaviour
Autocomplete window opens after :
Pressing enter for newline commits then instead of a newline

If using "auto_complete_commit_on_tab" alternatively, a newline is created,
but the autocomplete list shows again immediately in the new line.
Hitting TAB to indent the cursor then commits again instead of

[2016-11-11 11:46] DamnWidget commented on #583
Can not replicate, make sure you don't have any configuration triggering your auto completion when you type the `:` (that probably is your problem actually).

[2016-11-11 14:06] mkroiss commented on #583
Thanks @DamnWidget  for the hint. I searched for settings before but all were standard ... but after disabling all other packages i found out that SublimeCodeIntel triggered the autocompletion.

I also found that it is working much faster and really smooth now. :+1:

[2016-11-11 14:06] #583 closed

[2016-11-11 20:09] FrnkVieira commented on #432
I'm also fighting with this issue. Anaconda does not handle relative imports properly when there are two files with the same name but in different directories being imported by relative imports.

[2016-11-11 21:55] #581 closed

[2016-11-11 21:58] #573 closed

[2016-11-12 18:31] yangmillstheory opened #584 "Cannot find Anaconda > Rename object under cursor"
## Expected Behaviour

I should be able to [rename objects under the cursor](http://damnwidget.github.io/anaconda/#refactor-rename).

## Actual Behaviour

![nov-12-2016 10-28-47](https://cloud.githubusercontent.com/assets/2729079/20240010/d92af666-a8c2-11e6-8405-ade6ccadec58.gif)

## Steps to Reproduce

With the versions and OS below, open up a Python file in a  Sublime Text 3 project and look for

[2016-11-12 18:37] DamnWidget commented on #584
It is in the Contextual menu (right mouse click)

[2016-11-12 18:37] #584 closed

[2016-11-12 19:14] yangmillstheory commented on #584
Thanks. Can we put this in the Command Palette, and is there a keyboard shortcut for it? I could work on this if you want.

[2016-11-12 19:20] DamnWidget commented on #584
Well, you can add whatever shortcut that you want in your keybindings. If you add it to the Command Palette I will merge the PR

[2016-11-14 18:59] NicolasRaus opened #586 "The preferred place to break around a binary operator is before the operator"
## Expected Behaviour
https://www.python.org/dev/peps/pep-0008/#should-a-line-break-before-or-after-a-binary-operator

## Actual Behaviour
When breaking before the operator, I get

As it says in the PEP 8 documentarion, it's permissible to break before or after. So W503 should be removed

[2016-11-14 21:30] DamnWidget commented on #586
You probably want to report this into https://github.com/pycqa/pycodestyle project, we use them to lint PEP8.

In the meanwhile you can add `W503` to the `pep8_ignore` list in your settings.

[2016-11-17 14:40] 13am opened #587 "Autocomplete hijacks the return key"
## Expected Behaviour

When I am typing, I expect the return key to move the cursor to a new line.

## Actual Behaviour

Let's say I have finished typing a line and whatever letter I typed last has automatically triggered the autocomplete dialog to be shown. In the picture below, I have just typed ':' and now intend to press the return key to start typing on a new line:

![ana_1](https://cloud.git

[2016-11-17 14:42] DamnWidget commented on #587
Or better, just disable SublimeCodeIntel that is making your Sublime Text 3 to fire the autocompletion dialog when you type `:`

[2016-11-17 15:57] #587 closed

[2016-11-21 09:53] espositofulvio commented on #514
I used to experience this issue on Windows 10/Sublime Text 3 as well, it simply went away after I switched to an SSD replacing my old HDD. Could it be that the js server takes too much time to fire up and thus anaconda can't connect?

[2016-11-21 10:12] DamnWidget commented on #514
That could be a reason @espositofulvio I never had these kind of warning but all my boxes use SSD

[2016-11-21 10:24] narusFR commented on #514
Also I don't have a SSD at work. I do have a SSD at home where and I don't get the error.

[2016-11-21 15:29] kiddick opened #588 "[Errno 9] Bad file descriptor with vagrant python interpreter"
I am trying to use similar settings for my vagrant python:

[code]

But as a result getting this (at sublime console):

[code]

Any ideas?

[2016-11-21 15:32] DamnWidget commented on #588
What is your `python_interpreter`?

[2016-11-21 17:24] #586 closed

[2016-11-22 02:26] ParthKolekar commented on #542
The PR was brought into the master of pycodestyle.

[2016-11-22 07:26] leeyongda opened #589 "Error"
## os:win10
## Sublime text3 (3126)
## Error:
![qq 20161122152302](https://cloud.githubusercontent.com/assets/11832476/20514586/be28ba08-b0c7-11e6-8fce-1a0a4edae63f.jpg)

[2016-11-22 09:05] DamnWidget commented on #589
Duplictae of #527

[2016-11-22 09:05] #589 closed

[2016-11-22 09:06] DamnWidget commented on #542
Nice, I will update it as soon as possible.

[2016-11-22 09:30] kiddick commented on #588
[code]

[2016-11-22 11:39] DamnWidget commented on #588
The weird part is that the error your OSX is giving you is "Bad file descriptor", it is like the socket was open readonly and you are trying to write on it but that does not have any sense.

Is the problem consistent? You can reproduce it every time that you try or you get this just some times?

[2016-11-22 13:07] kiddick commented on #588
Sorry for confusing. I just copy-pasted it from docs. In my settings it is linux style string:
[code]

So I am using Ubuntu 16.10 as host machine and box with centos 6 as guest mashine.

[2016-11-22 13:09] DamnWidget commented on #588
I see.
Do you get that error everytime that you start your ST3 or just in occasions?
Is anaconda working using a local `python_interpreter`?

[2016-11-22 13:12] kiddick commented on #588
Errors only with vagrant settings. With local everything is fine.

[2016-11-22 13:22] kiddick commented on #588
Does this mapping `&pathmap=/home/user/projects/myproject,/MyProject` work with `tcp` connection to minjson server?

[2016-11-22 13:30] DamnWidget commented on #588
Yes it should, the vagrant interpreter just add some additional functionality in top of regular TCP remote workers (like start the VM or start the minserver.py in the VM if is not already running).

[2016-11-22 13:48] kiddick commented on #588
I was able to run remote interpreter using this workaround: https://github.com/DamnWidget/anaconda/issues/539#issuecomment-247260624
But unfortunately mapping doesn't work correctly.

[2016-11-22 14:07] DamnWidget commented on #588
What you mean with "mapping doesn't work correctly"?

[2016-11-22 14:15] kiddick commented on #588
I am getting following errors (when trying to `go to`):
```FileNotFoundError: [Errno 2] No such file or directory: '/path/on/vagrant/machine/to/file.py'````

Ii should be local path instead...

[2016-11-22 14:30] DamnWidget commented on #588
Ok, do the following:

* Open ST3 console and write
* `from Anaconda.anaconda_lib.workers.Market import Market`
* `print(Market)`
* The command above will show you a list of workers in your market, write down the Window ID of your worker
* `w = Market().get(<the_window_id_you_wrote_down>)`
* `print(w.interpreter)`
* `print(w.interpreter.pathmap)`

Paste here the results please

[2016-11-22 14:36] kiddick commented on #588
[code]

[2016-11-22 14:43] kiddick commented on #588
I am getting error on this step:
[code]

[2016-11-22 14:56] kiddick commented on #588
I've added temporary attribute to figure out what is going on:

[code]

And in ST3 console:
[code]

[2016-11-22 15:02] DamnWidget commented on #588
Looks like the code to handle the mappings when data come from the workers is gone (or it was never commit), that is why Goto does not works.

`commands/goto.py` line 46 should check for active interpreter maps if the interpreter is remote and replace the paths accordingly. I will look into it when I have some time.

[2016-11-22 16:21] kiddick opened #590 "A lot of ERROR:root:KeyError: 'result' errors"
In many cases of using `anaconda_goto` commands in ST3 log I am getting:
[code]

Though default command `goto_definition` works well.

[2016-11-22 16:27] DamnWidget commented on #590
Can you please provide the contents of your JsonServer logs? (https://github.com/DamnWidget/anaconda/blob/master/.github/ISSUE_TEMPLATE.md#anacondas-jsonserver-logs)

P.S: The ISSUE_TEMPLATE is there for a reason btw

[2016-11-22 16:30] kiddick commented on #590
[code]

[2016-11-22 20:14] QasimK commented on #432
@DamnWidget Given the last few posts (especially @FrnkVieira's), could we drop the not replicable tag?

[2016-11-23 09:55] DamnWidget commented on #590
Resolved, waiting for release

[2016-11-23 09:58] DamnWidget commented on #432
This is probably related to #488 (possible a duplicate)

[2016-11-23 10:05] DamnWidget opened #591 "Missing handler to convert remote paths to local paths on Goto command"
## Expected Behaviour
When using a remote interpreter, and a valid remote path mapping configuration is in use, Goto **must** Work

## Actual Behaviour
It fails miserably complaining about path not existing (uses remote path so it does not really exists)

## Steps to Reproduce
Just start a remote worker (vagrant, docker or just remote), set a paths map and use Goto

## ST3, Anaconda and OS version

[2016-11-23 15:15] DamnWidget commented on #488
Guys, this totally looks like a bug in jedi, you can confirm it following the steps below in an IPython or Python REPL and the files that @Effenberg0x0 provided ([here](https://github.com/DamnWidget/anaconda/files/575516/anaconda_import_validator_bug.tar.gz)) :

[code]
Until here everything is fun and happy, but if you try to get the assignments for the a again:
[code]
You get an empty list.

Actu

[2016-11-23 15:26] Effenberg0x0 commented on #488
That's great Oscar :) I have been working my way through Anaconda's code base for some days and trying many different things with no luck at all. Thank you!

[2016-11-23 15:32] JPCoding commented on #514
I experience this issue on Windows 10 and Sublime Text 3 with a SSD as well. If i try to connect to the socket manually with `import socket; socket.socket(socket.AF_INET, socket.SOCK_STREAM).connect(("localhost", 54133))`, i receive this:

`socket.error: [Errno 10061] No connection could be made because the target machine actively refused it`.

[2016-11-23 15:35] DamnWidget commented on #514
Probably a firewall issue @JPCoding ?

[2016-11-23 15:49] JPCoding commented on #514
Tested this. Error still remains.

[2016-11-23 15:49] mnbf9rca opened #592 "[feature request] Keep errors open in a separate window"
When reviewing code with a lot of errors (someone else's of course :) ) it's annoying when the sublime popup with the error list keeps disappearing. It would be good to have it as a floating window, or docked to the bottom of the editor, like the error list in Visual Studio when working with e.g. c#. Is this possible?

[2016-11-23 15:55] DamnWidget commented on #592
Sadly, ST3 API does not offers too many things to play with, the only floating windows are the popups and they disappear as soon as a key is pressed. Then we have phantoms, but those are attached to a specific `Region` (line and column) so they don't follow you if you scroll the window.

It is not possible to dock the panel (that would be actually cool), so the only thing that comes to my mind is

[2016-11-23 16:00] mnbf9rca commented on #592
hmm - that's a real shame. i wonder what else might help. Perhaps if they were available as tooltips? And a keyboard shortcut to the full list (I couldnt find one)?

[2016-11-23 16:04] DamnWidget commented on #514
What did you test? If the problem is not a firewall then probably there is no JsonServer started for anaconda to connect to, check if there are any `python` processes running in the system using `tasklist` in a CMD.exe or PowerShell

[2016-11-23 16:08] DamnWidget commented on #592
Nope, there are no shorcuts because I consider them invasive, I should really remove all the defined anaconda shortcuts so the user can add whatever they like.

The command to run from a shortcut is `anaconda_get_lines`

[2016-11-23 16:12] mnbf9rca commented on #592
personally, i find shortcuts really help - especially if it means i can avoid taking my hands off the keyboard to use the mouse. I've added a custom one now, so thanks for the pointer. I'd appreciate if you can consider how this feature request might be implemented e.g. if in the future Jon Skinner decides to add something to sublime to enable it.

[2016-11-23 16:12] JPCoding commented on #514
I disabled the firewall to test if that causes the issue, but error remains.
There is one `python` process running.

[2016-11-23 16:20] DamnWidget commented on #514
Take a look at ` %APPDATA\Anaconda\Logs`

Note that majority of people that gets this warning, have no problems at all after close the popup message, so make sure that anaconda is not working for you after close that message (because probably it is working) and if it works, just ignore the message.

[2016-11-23 16:24] DamnWidget commented on #592
Yes, they help, I don't use the mouse neither, I use the `Command Palette` to invoke actions but there are a lot of possibilities that I override any keybinding that other plugin, window manager or Operating System is already using so I prefer the user takes control over key bindings.

I could think about something to possibly support this request but currently I am pretty busy.

[2016-11-23 16:24] mnbf9rca commented on #592
thanks

[2016-11-23 16:39] JPCoding commented on #514
Actually, there is no `%APPDATA\Anaconda\Logs` folder and I receive continuously the same error message  in the Sublime Text console:

`anacondaST3: ERROR - <Anaconda.anaconda_lib.workers.local_worker.LocalWorker object at` `0x000002503270D828> initial check failed because:`

`connection to localhost:51936 timed out after 0.2s. tried to connect 7 times during 2 seconds`

`check that there is Pytho

[2016-11-23 17:29] DamnWidget commented on #514
What is your `python_interpreter` configuration?

[2016-11-23 17:36] JPCoding commented on #514
`python_interpreter` is set to default, so Anaconda should find my interpreter in the `PATH`.

[2016-11-23 17:40] DamnWidget commented on #514
Can you run the following in the ST3 console please? (line per line or it will not work)
[code]
Thanks.

[2016-11-23 17:44] JPCoding commented on #514
I get`AttributeError: 'module' object has no attribute 'getoutput'`.

[2016-11-23 17:46] #590 closed

[2016-11-23 17:47] DamnWidget commented on #590
Please, confirm that the fix is actually working in your case, feel free to re-open if not.

[2016-11-23 17:48] DamnWidget commented on #591
@kiddick could you confirm that this is actually fixed please?

Thanks.

[2016-11-23 17:49] DamnWidget commented on #488
Could you kindly confirm that this issue has been resolved in 2.1.8?

Thank you.

[2016-11-23 17:50] DamnWidget commented on #432
I released a fix for #488 that could probably fix this issue as well, can you confirm please?

[2016-11-23 17:51] DamnWidget commented on #514
Looks like your Python installation is broken. Can you please remove your Python installation and install it again from scratch?

[2016-11-23 17:58] kiddick commented on #590
Should I manually update up to 2.1.8 or just wait for release on packagecontrol.io ?

[2016-11-23 18:03] JPCoding commented on #514
Sublime Text Build 3126.

[2016-11-23 18:05] DamnWidget commented on #590
Don't bother with updating manually, just wait until Package Control gets aware of the new version.

[2016-11-23 18:05] DamnWidget commented on #514
Looks like the embedded Python interpreter in your ST3 is screwed up... Can you please remove ST3 completely from your machine and reinstall it?

[2016-11-23 18:16] JPCoding commented on #514
I did. With a fresh Sublime and the Anaconda package installed i still get the error.

[2016-11-23 18:21] DamnWidget commented on #514
If when you try to use `subprocess.getoutput` in your ST3 console you get the error you pasted [here](https://github.com/DamnWidget/anaconda/issues/514#issuecomment-262584387) that means ST3 python interpreter is not working as intended, sadly I can not offer you support for Sublime Text 3 itself beyond what I already did.

Anaconda uses the `subprocess` module from your ST3 python embedded interp

[2016-11-23 18:45] JPCoding commented on #514
Actually, if i enter now the command, i get this `sys.version_info(major=2, minor=7, micro=12, releaselevel='final', serial=0)`.

[2016-11-23 18:47] Effenberg0x0 commented on #488
Hi Oscar, there was a tiny typo that caused Anaconda to not be loaded. I submitted a pull request. Other than that, preliminary tests suggest you fixed it.

[2016-11-23 18:49] kiddick opened #594 "Minor case about gh-pages. Suggest actual version to download in"
May be it would be nice to have some automatic way to keep download link in actual state here
https://github.com/DamnWidget/anaconda/blob/gh-pages/index.html#L127
![image](https://cloud.githubusercontent.com/assets/9250239/20574669/1def0192-b1cf-11e6-9cb6-445572f2f5bc.png)

[2016-11-23 19:11] kiddick commented on #591
Error while loading anaconda:

[code]

[2016-11-23 19:12] DamnWidget commented on #594
Yeah, I know, I had something in mind but what I don't have is enough time

[2016-11-23 19:16] DamnWidget commented on #591
Has been fixed in a PR minutes ago https://github.com/DamnWidget/anaconda/pull/593

Try to reinstall anaconda

[2016-11-23 19:27] DamnWidget commented on #488
I just merged your PR, how are we looking?

[2016-11-23 19:37] Effenberg0x0 commented on #488
I installed Sublime Text 3 fresh on a new Ubuntu VM and installed Anaconda via Package Control. I think everything is fine :)

[2016-11-23 20:03] DamnWidget commented on #488
If @jt-wang is still around. can you please confirm and close?

[2016-11-24 05:38] jt-wang commented on #488
@DamnWidget Yes. It is perfect now.

[2016-11-24 05:38] #488 closed

[2016-11-24 07:46] kiddick commented on #591
I am getting this:
[code]

[2016-11-24 08:00] kiddick commented on #591
I am getting this:
[code]

[2016-11-24 09:10] DamnWidget commented on #591
Thanks, I will release the fix later today

[2016-11-24 18:19] DamnWidget commented on #591
Fixed in v2.1.9

[2016-11-24 18:19] #591 closed

[2016-11-25 08:45] DamnWidget commented on #542
PyCodetyle was updated in v2.1.8 btw

[2016-11-25 08:50] DamnWidget commented on #514
Sorry for the delay @JPCoding but is actually hard to follow up a closed ticket, can we continue this on Gitter or Email?

[2016-11-25 10:42] DamnWidget commented on #432
@QasimK I will release a new version with specific fixes for this issue, I could not reproduce the behaviour expressed by @FrnkVieira in https://github.com/DamnWidget/anaconda/issues/432#issuecomment-260044701
So for resume, v2.1.10 will be fixed

[2016-11-25 10:52] JPCoding commented on #514
No problem. I could resolve my issues. Actually there was no error with anaconda at all, not directly. There was an encoding error during execution, because my path contains special characters. This let the jsonserver not start.

[2016-11-25 10:57] DamnWidget commented on #514
Oh, I see, glad to hear :)

[2016-11-25 13:15] DamnWidget commented on #579
This feature will be present in v2.1.10

[2016-11-25 13:48] DamnWidget commented on #235
This was already introduced with the new and improved ExplorerPanels

[2016-11-25 13:48] #235 closed

[2016-11-25 13:52] DamnWidget commented on #254
Fixed in release v2.1.10

[2016-11-25 13:52] #254 closed

[2016-11-25 14:00] DamnWidget commented on #352
Can you believe that is the first time that I read this issue?, it is actually a great idea, I will implement it some time but I need first to improve the tooltips/popups/phantoms support

[2016-11-25 14:07] DamnWidget commented on #504
I am gonna close this as right now is just noise, feel free to re-open if you find a reliable way to reproduce the problem

[2016-11-25 14:07] #504 closed

[2016-11-25 14:08] DamnWidget commented on #367
Probably worth a look at #562

[2016-11-25 14:08] DamnWidget commented on #545
Related to #367

[2016-11-25 14:13] DamnWidget commented on #366
I think this was fix in #481

Feel free to open if the problem persist

[2016-11-25 14:13] #366 closed

[2016-11-25 14:18] DamnWidget commented on #369
This should not be a problem anymore

[2016-11-25 14:18] #369 closed

[2016-11-25 17:45] #432 closed

[2016-11-25 17:45] #502 closed

[2016-11-25 17:45] #579 closed

[2016-11-28 12:34] nanoant opened #595 "Use current color scheme for help popup (tooltip)"
## Expected Behaviour
Currently Anaconda ships with two help popup (`anaconda_tooltip_theme`) themes - `dark` (default) and `light`. It would be much better (and reasonable) to use current color scheme colors instead than somehow hard-coded colors.

Also hardcoded themes for some reason use bold fonts everywhere which is pretty annoying. It would be much better if bolds were used only for headers,

[2016-11-28 12:49] DamnWidget commented on #595
Totally agreed, take into account that anaconda tooltips where introduced as soon as ST3 API supported the first ever version of minihtml, in was pretty bad at the moment and the hardcoded CSS and theme was needed.

Now things have improved in the ST3 API and there is no need anymore for the hardcoded templates, that is something that I will change in some moment and I am totally aware of.

[2016-11-28 15:09] nanoant commented on #595
@DamnWidget that's great. thanks!

[2016-11-29 11:10] DamnWidget commented on #595
By the way, you can override the default anaconda CSS styles creating a directory called `Anaconda.themes` in your `Packages/User` and saving there your own CSS files

[2016-11-29 14:31] kiddick commented on #588
Seems it is ok now!

[2016-11-29 14:32] DamnWidget commented on #588
You don't get the bad file descriptor error anymore?

[2016-11-29 19:39] mcdevitts commented on #353
I'm having a similar issue (I think) as described above. Although mine manifests itself in a different fashion. When launching sublime I get the following error message as others have described previously:
![image](https://cloud.githubusercontent.com/assets/13813076/20725897/a83fe18a-b630-11e6-94fb-39cba910acbf.png)

However, Anaconda does not work properly after that error message. When I launch

[2016-11-29 20:11] DamnWidget commented on #353
Looks like your `python_interpreter` may be incorrect @mcdevitts

[2016-11-29 21:24] DamnWidget commented on #353
Try `"python_interpreter":  "C:\\Miniconda3\\python.exe"`

[2016-11-29 22:16] mcdevitts commented on #353
@DamnWidget same issue.

[2016-11-29 22:54] DamnWidget commented on #353
Make sure you dont have the `jsonserver_debug` is set as `false` in your
settings

On Nov 29, 2016 10:16 PM, "Sean McDevitt" <notifications@github.com> wrote:

[2016-11-29 22:59] mcdevitts commented on #353
My jsonserver_debug setting is set to false.

I only had it set to true when I tried launching a separate jsonserver (which worked).

[2016-11-30 17:34] DamnWidget commented on #353
Look at `%APPDATA%\\Anaconda\\Logs\\` to see if there is something in the logs.

[2016-11-30 18:48] mcdevitts commented on #353
There's a set of logs in "test" folder from when I launched the jsonserver in debug mode. However, other than that there are no logs in that folder.

Looking around at issues it seems like I'm having a similar problem as @JPCoding in this thread:
https://github.com/DamnWidget/anaconda/issues/514

As in, I don't believe the jsonserver is even starting. Should this server show up as a python.exe pro

[2016-11-30 20:01] DamnWidget commented on #353
Yes, it will be shown as a Python process in the task manager, by the way, in @JPCoding case was because the directory where his project was stored contained some unicode characters (that is not a problem on POSIX not sure why it is on Windows), maybe worth to take a look

[2016-12-02 10:19] Elliot2560 opened #596 "Enum module backport incompatible with higher versions of python"
The `enum` module included in the `anaconda_lib` directory is from an earlier version of python 3.4, and is out of date when used with later versions of python. This causes issue because the `socket` module (in 3.5.2) calls `_convert` as a class method from `IntEnum`, which was not defined in earlier versions. This causes the import of `socket` in `jsonserver.py` to fail, crashes the server, and t

[2016-12-02 10:48] DamnWidget commented on #596
Good catch.

If I understand this, the Python interpreter running the  JsonServer `socket` module is using the `enum` module inside `anconda_lib` instead of the one in it's own library path?

I use Python 3.5 and never had this problem and I am not able to reproduce it myself, anyway, I will update the `enum` module in the `anaconda_lib` so you can test it yourself.

And good catch again.

[2016-12-02 10:58] Elliot2560 commented on #596
Yes. That is exactly what happened. In fact, if I start sublime text with the `enum.py` file originally included in the package, and then just delete it, then the JsonServer can start normally, since the python interpreter defaults to the native `enum` module.

[2016-12-02 11:20] Elliot2560 commented on #596
Oh... and I just discovered why I see this issue but you can't reproduce it. I had my `$PYTHONPATH` set to `/usr/lib/python3.5/site-packages/:/usr/lib/python2.7/site-packages/`, which probably messed with how `sys.path` was set pretty hard. I don't quite recall why I did that, but that did not seem like a smart move...

[2016-12-02 14:56] DamnWidget commented on #596
Unfortunately the fix breaks anaconda_go so it will take a while

[2016-12-06 11:03] AKFourSeven commented on #353
Hi, I am having a similar issue and I was wondering if python version should be 3 or 2.x or whether it did not matter ?

[2016-12-06 15:00] tongguang commented on #369
thanks

[2016-12-08 04:59] #596 closed

[2016-12-09 12:18] kissgyorgy opened #597 "Jump to definition raises KeyError every time"
## Expected Behaviour
Jump to object definition or module

## Actual Behaviour
Nothing happens, just errors in logs

## Steps to Reproduce
I uninstalled and reinstalled Anaconda, deleted cache, logs, indexes, even custom configuration.
Press `CTRL + SHIFT + G` on a Python module or object.

## ST3, Anaconda and OS versions
ST3: dev 3125
Anaconda: 2.1.11 (probably?)
OS X: 10.11.6 (El Capitan)

## S

[2016-12-09 20:16] karolyi commented on #558
I experience the same slowdown since a recent anaconda update. Can I help out somehow here?

[2016-12-12 00:44] Chovin commented on #558
am also seeing this

[2016-12-12 11:15] DamnWidget commented on #597
Even that anaconda should gracefully failing on this, the problem is that Jedi does not supports Python 2.6 grammars yet and you are using a Python 3.6 interpreter. Even if I add some `try` block or use `get` in the dictionary object (that I should) you are never gonna make lot of functionality offered by Jedi to work, not unless Python 3.6 grammars are added to the library.

[2016-12-12 11:16] DamnWidget commented on #558
Hi guys,
Can you please provide your JsonServer logs with the timeframe that you experience the slow down?

[2016-12-12 14:20] kissgyorgy commented on #597
I did not realized it's because of 3.6 :D thanks

[2016-12-12 14:20] #597 closed

[2016-12-14 09:12] DamnWidget commented on #505
This was release a while ago, can you @AllanLRH  confirm that is working as expected and close the ticket please?

[2016-12-14 17:33] DamnWidget commented on #558
Hi guys,
Can you please provide your JsonServer logs with the timeframe that you experience the slow down?

[2016-12-15 14:31] DamnWidget commented on #352
The only thing that I don't really like about pydoc is that it uses the `inspect` module and actually executes the code of whatever you want to get help for, I would prefer a tool that works the Python AST as Jedi does.

[2016-12-16 12:51] AllanLRH commented on #505
Yes, it works as requested/expected. Thanks for putting in the work! 👍

[2016-12-16 12:51] #505 closed

[2016-12-20 03:04] Yokan-Jan commented on #314
Can I use it for the version of Python25?

[2016-12-20 09:01] DamnWidget commented on #314
The minimum python version supported by anaconda is Python 2.6 @Yokan-Jan I don't believe it works at all with Python 2.5

[2016-12-20 16:51] adrn commented on #558
FWIW, I think #532 is actually the same issue as what is discussed here. I'm still seeing this. Will try getting a jsonserver log

[2016-12-22 17:02] AndreasBackx opened #599 "isort support?"
Currently [sublime-text-isort-plugin](https://github.com/thijsdezoete/sublime-text-isort-plugin) exists but is not up to date with the latest isort version. A PR could be made but the project doesn't seem to be maintained anymore it seems and it looks like quite a hassle to do this for every isort version.

Has adding isort been considered for Anaconda? It would be great to see isort support.

[2016-12-22 23:32] ascholtz opened #600 "Anaconda/Jedi issue with large libraries - e.g. wxPython - Code Completion, Show Documentation & Display Signatures not working reliably"
## Expected Behaviour
Hello,
I would like to use Sublime+Anaconda for developing wxPython applications.
However, I cannot get them to work with wxPython reliably for Code Completion, Show Documentation & Display Signatures.

## Actual Behaviour
Most of the time, completion does not work at all, however sporadically, after very long delays, it will pop and break again.
I searched online as much as

[2016-12-23 11:46] DamnWidget commented on #599
Isort is being included into `Golconda-contrib-python` (the future successor of anaconda) but there are no plans to include it in anaconda itself, as anaconda will become kind of obsolete as soon as Golconda gets released.

I am not sure if I am gonna convert this repository into `Golconda-contrib-python` or I will add a new package into PackageControl with a new repo.

[2016-12-23 11:50] DamnWidget commented on #600
Can you provide the information that you did not in the issue template?

[2016-12-23 12:18] AndreasBackx commented on #599
Great! I can see Golconda in the projects tab now, it looks very interesting. Is there any release window or time when it'll be on GitHub that we can look forward to?

[2016-12-24 06:08] ascholtz commented on #600
You got it Oscar. Thank you for all your time. Enjoy the holidays for now..
I will work around by using PyCharm Community Edition for now and go back to my licensed Sublime Text editor hopefully down the road once the issue is resolved. Suspecting a Jedi issue. Let me know if I am better off reporting it directly to them.
Mahalo!

[2016-12-31 11:56] dracher opened #602 "Lack of support for Python3.6 auto-completion"
## ST3, Anaconda and OS versions

- ST3 build 3126
- macOS Sierra 10.12.2
- Python 3.6.0
- anaconda 2.1.11

## Anaconda's JsonServer Logs

[code]

[2016-12-31 12:49] DamnWidget commented on #602
Jedi does not supports Python 3.6 yet, just wait

[2016-12-31 12:49] #602 closed

[2017-01-01 20:57] pjc42 opened #603 "support for cython .pxi and .pxd files"
## Expected Behaviour

There are three file types in Cython:

* Implementation files carry a .pyx suffix
* Definition files carry a .pxd suffix
* Include files which carry a .pxi suffix

AnacondaST3 currently supports cython implementation files .pyx. Cython has two other source/header file types *.pxi and *.pxd. Would be ideal if AnacondaST3 also recognized these file types as cython source files

[2017-01-03 14:50] DamnWidget commented on #603
Hi, currently anaconda does not apply any kind of syntax highlight to Python files but relies in syntax highlighters (from third parties) to know when a Python source file is being edited.

Is not in our aim to implement any kind of syntax highlighter into anaconda and continue relying in the different highlighters for Python available for Sublime Text 3.

There are actually three packages impleme

[2017-01-03 14:50] #603 closed

[2017-01-03 17:51] pjc42 commented on #603
Got it; was confused about what package was doing what. Perfect answer, thanks.

[2017-01-03 18:06] DamnWidget commented on #603
No problem

[2017-01-04 14:09] DamnWidget commented on #600
You probably want to monitor https://github.com/davidhalter/jedi/issues/805

[2017-01-04 14:15] DamnWidget commented on #599
Sorry for the delay @AndreasBackx
I've been working a lot in Golconda, I already have the plugin connector (that exposes the internal language plugins trough the Golconda REST API) ready and I am writing the plugins for the Golang and Python languages. This last process is the most hard as I have to add all the features that anaconda already have into the Python plugin and as you already know, ana

[2017-01-06 09:51] lopince commented on #229
i face the same problem now, help!

[2017-01-06 09:58] DamnWidget commented on #229
Autocompletion is disabled for SublimeREPL (in fact it can not be enabled in any way). Being in your SublimeREPL buffer, open the ST3 console and write the following:
[code]
What do you get?

[2017-01-08 21:14] shiman opened #604 "Please update jedi for python3.6 support"
I am using sublime text 3 under Arch Linux. One day, after upgrading the system, I found the auto completion not working. After checking the log at `anaconda_jsonserver.log`, I located this error:

[code]

The latest `grammar3.6.txt` has already been updated from the jedi upstream: https://github.com/davidhalter/jedi/pull/823

Please update at your convenience. Thanks!

[2017-01-09 09:46] DamnWidget commented on #604
I see that Arch updated it's Python version to Python 3.6 already, awesome. I will update it as soon as I test that the plugin works with latest Jedi master version (that is not always true). In the meanwhile, you could probably add the `parser/grammar3.6.txt to `~/.config/sublime-text-3/Packages/Anaconda/anaconda_lib/jedi/parser/` it will probably work.

[2017-01-09 11:30] DamnWidget commented on #604
I will release a new version with the last master Jedi later today

[2017-01-13 05:28] purplezippo commented on #314
I came across the same ploblem and by trying the following steps both the Anaconda2 and Anaconda3 could be installed smoothly, but only Anaconda3 worked, and I don't know why.
(1) clear the system path;
(2) start installer in admin;
(3) set the installation directory under root directory.

[2017-01-13 19:30] fredrikaverpil opened #605 "Per-platform python_interpreter settings?"
Is it possible to somehow define one `python_interpreter` setting on a per-platform basis?

I was thinking something along these lines:

[code]

And if not, could it be implemented?

I am looking to be able to do this in the Sublime project settings.

[2017-01-13 22:48] DamnWidget commented on #605
That is not currently implemented but is interesting

[2017-01-14 21:00] shiman commented on #604
Awesome! Thanks for your fast response!

[2017-01-14 21:00] #604 closed

[2017-01-15 02:49] MattDMo commented on #605
This would probably be a better format for a `.sublime-project` file:

[code]

Each of the keys of the `python_interpretor` dict is the platform-specific output from `sublime.platform()`, so it would be quite easy to know which value to access.

@DamnWidget is the only relevant code in `commands/set_python_interpreter.py`, or are there other files we'd have to change? I'd recommend checking for a

[2017-01-15 06:23] DamnWidget commented on #605
Function `get_interpreter` in `anaconda_lib/helpers.py` that is being used in `anaconda_lib/workers/interpreter.py` and 'anaconda_lib/workers/market.py`. Then there is a direct access to the settings in `decorators.py` but the function doing it was deprecated long in 2.0.0 and is not being used anymore.